<a href="https://colab.research.google.com/github/Nayoumi/Solar_Internship_Assignment/blob/main/Clean_Tech_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Code to access the data from google drive**

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import os
import pandas as pd
#importing required libraries

**Reading the 2018 inverter-1 data**

Text file is read using pandas library seperated with "\t",
to display the data in the form of data frame

In [ ]:
Intrever_data18 = pd.read_csv ("/content/drive/MyDrive/Solar_internship/[IN-023C]/2018/2018-12/Inverter_1/[IN-023C]-I1-2018-12-01.txt",sep= "\t")

In [ ]:
Intrever_data18.head() # displaying first 5 rows of the data frame

   i1  i2    i3  i4                   i5  i6  ...  i49  i50  i51  i52  i53  i54
0 NaN   2  CT08   1  2018-12-01 00:00:04   0  ...    0    0    0    0    0   34
1 NaN   2  CT08   1  2018-12-01 00:01:23   0  ...    0    0    0    0    0   34
2 NaN   2  CT08   1  2018-12-01 00:02:43   0  ...    0    0    0    0    0   34
3 NaN   2  CT08   1  2018-12-01 00:04:04   0  ...    0    0    0    0    0   34
4 NaN   2  CT08   1  2018-12-01 00:06:15   0  ...    0    0    0    0    0   34

[5 rows x 54 columns]

In [ ]:
Intrever_data18.columns # displaing the number of columns from the IN-023C file

Index(['i1', 'i2', 'i3', 'i4', 'i5', 'i6', 'i7', 'i8', 'i9', 'i10', 'i11',
       'i12', 'i13', 'i14', 'i15', 'i16', 'i17', 'i18', 'i19', 'i20', 'i21',
       'i22', 'i23', 'i24', 'i25', 'i26', 'i27', 'i28', 'i29', 'i30', 'i31',
       'i32', 'i33', 'i34', 'i35', 'i36', 'i37', 'i38', 'i39', 'i40', 'i41',
       'i42', 'i43', 'i44', 'i45', 'i46', 'i47', 'i48', 'i49', 'i50', 'i51',
       'i52', 'i53', 'i54'],
      dtype='object')

**Reading the sample Inverter-1 2018 data**

In [ ]:
Inverter_sample18 = pd.read_csv ("/content/drive/MyDrive/Solar_internship/Gen1/[IN-023C]/2018/2018-12/Inverter_1/[IN-023C]-I1-2018-12-01.txt",sep= "\t")

In [ ]:
Inverter_sample18.columns # displaying the columns of the sample data

Index(['Tstamp', 'Inverter_Id', 'Fb_Id', 'DTT', 'Device_Time', 'SES',
       'Salve_Id', 'Function_Code', 'AC_Voltage_Line1', 'AC_Voltage_Line2',
       'AC_Voltage_Line3', 'AC_Current_Line1', 'AC_Current_Line2',
       'AC_Current_Line3', 'AC_Power', 'AC_Power_Percentage', 'AC_Frequency',
       'Power_Factor', 'Reactive_Power', 'DC_Current', 'DC_Power',
       'Inverter_Temprature', 'Time_Of_Use_Today', 'Time_Of_Use_Life',
       'Energy_Produced', 'KWH_Counter', 'MWH_Counter', 'GWH_Counter',
       'DC_Voltage', 'Inverter_Status', 'Energy_Generated_Today', 'Id',
       'Total_Energy_Generated_Till', 'Inverter_Communication_Status',
       'AC_Power_2', 'AC_Power_3', 'AC_Frequency_2', 'AC_Frequency_3',
       'DC_Voltage_2', 'DC_Power_2', 'DC_Current_2', 'Plant_Id',
       'Inv_Status_Word', 'Grid_Conn_Status', 'AC_Current_Totoal',
       'AC_Volatge_RY', 'AC_Volatge_YB', 'AC_Volatge_BR', 'Apparent_Power',
       'Event_Flag_1', 'Event_Flag_2', 'Event_Flag_3', 'Event_Flag_4',
       'Coolent_Temp'],
      dtype='object')

**List of column names that should be original columns should be renamed**

In [ ]:
Inverter_rename =['Id', 'Inverter_Id', 'Fb_Id', 'DTT', 'Device_Time', 'SES',
                'Salve_Id', 'Function_Code', 'AC_Voltage_Line1', 'AC_Voltage_Line2',
                'AC_Voltage_Line3', 'AC_Current_Line1', 'AC_Current_Line2',
                'AC_Current_Line3', 'AC_Power', 'AC_Power_Percentage', 'AC_Frequency',
                'Power_Factor', 'Reactive_Power', 'DC_Current', 'DC_Power',
                'Inverter_Temprature', 'Time_Of_Use_Today', 'Time_Of_Use_Life',
                'Energy_Produced', 'KWH_Counter', 'MWH_Counter', 'GWH_Counter',
                'DC_Voltage', 'Inverter_Status', 'Energy_Generated_Today', 'Tstamp',
                'Total_Energy_Generated_Till', 'Inverter_Communication_Status',
                'AC_Power_2', 'AC_Power_3', 'AC_Frequency_2', 'AC_Frequency_3',
                'DC_Voltage_2', 'DC_Power_2', 'DC_Current_2', 'Plant_Id',
                'Inv_Status_Word', 'Grid_Conn_Status', 'AC_Current_Totoal',
                'AC_Volatge_RY', 'AC_Volatge_YB', 'AC_Volatge_BR', 'Apparent_Power',
                'Event_Flag_1', 'Event_Flag_2', 'Event_Flag_3', 'Event_Flag_4','Coolent_Temp']

**Original colmns of inverter-1**

In [ ]:
Inverter_original=['i1', 'i2', 'i3', 'i4', 'i5', 'i6', 'i7', 'i8', 'i9', 'i10', 'i11',
                'i12', 'i13', 'i14', 'i15', 'i16', 'i17', 'i18', 'i19', 'i20', 'i21',
                'i22', 'i23', 'i24', 'i25', 'i26', 'i27', 'i28', 'i29', 'i30', 'i31',
                'i32', 'i33', 'i34', 'i35', 'i36', 'i37', 'i38', 'i39', 'i40', 'i41',
                'i42', 'i43', 'i44', 'i45', 'i46', 'i47', 'i48', 'i49', 'i50', 'i51',
                'i52', 'i53', 'i54']

In [ ]:
### changing the Time stamp column of ineverter_1 2018-12

def Inverter1_Timestamp18():
  path = "/content/drive/MyDrive/Solar_internship/[IN-023C]/2018/2018-12/Inverter_1"
  os.chdir(path)  #creating a child directory to call the text files in the folder
  for file in os.listdir(): # looping the text file path using for loop
    if file.endswith(".txt"): # reading the string that end with.txt file 
      file_path = f"{path}/{file}" #concatenating the file and the text data
      file_conv_name = file_path.split("/")[-1] # reading the last data from the list which is text file
      Inverter1_data18 = pd.read_csv(file_path,"\t") #reading the text file seperated with \t
      for i in range(len(Inverter_original)): # renaming the columns using the sample data provided and dictionaries
        Inverter1_data18.rename(columns={Inverter_original[i]: Inverter_rename[i]},inplace=True)
      # re ordering the columns to bring the timestamp as 1st column
      Inverter1_data18 = Inverter1_data18[['Tstamp', 'Inverter_Id', 'Fb_Id', 'DTT', 'Device_Time', 'SES', 'Salve_Id',
                                          'Function_Code', 'AC_Voltage_Line1', 'AC_Voltage_Line2',
                                          'AC_Voltage_Line3', 'AC_Current_Line1', 'AC_Current_Line2',
                                          'AC_Current_Line3', 'AC_Power', 'AC_Power_Percentage', 'AC_Frequency',
                                          'Power_Factor', 'Reactive_Power', 'DC_Current', 'DC_Power',
                                          'Inverter_Temprature', 'Time_Of_Use_Today', 'Time_Of_Use_Life',
                                          'Energy_Produced', 'KWH_Counter', 'MWH_Counter', 'GWH_Counter',
                                          'DC_Voltage', 'Inverter_Status', 'Energy_Generated_Today', 'Id',
                                          'Total_Energy_Generated_Till', 'Inverter_Communication_Status',
                                          'AC_Power_2', 'AC_Power_3', 'AC_Frequency_2', 'AC_Frequency_3',
                                          'DC_Voltage_2', 'DC_Power_2', 'DC_Current_2', 'Plant_Id',
                                          'Inv_Status_Word', 'Grid_Conn_Status', 'AC_Current_Totoal',
                                          'AC_Volatge_RY', 'AC_Volatge_YB', 'AC_Volatge_BR', 'Apparent_Power',
                                          'Event_Flag_1', 'Event_Flag_2', 'Event_Flag_3', 'Event_Flag_4',
                                          'Coolent_Temp']]
      print(Inverter1_data18.head())
      # saving the text file using to_csv function with no index and seperated with \t as we are saving csv file as text file
      Inverter1_data18.to_csv(file_conv_name,sep="\t",index=False)


      '''The text file is replaced with the original data that is raw data which is in google drive
         For each folder the same program is repeated with different column names.'''

Inverter1_Timestamp18()

                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-01 00:00:04            2  ...            0            34
1  2018-12-01 00:01:23            2  ...            0            34
2  2018-12-01 00:02:43            2  ...            0            34
3  2018-12-01 00:04:04            2  ...            0            34
4  2018-12-01 00:06:15            2  ...            0            34

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-02 00:00:28            2  ...            0            35
1  2018-12-02 00:01:47            2  ...            0            35
2  2018-12-02 00:03:08            2  ...            0            35
3  2018-12-02 00:04:26            2  ...            0            35
4  2018-12-02 00:06:38            2  ...            0            35

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-03 00:01:08            2  ...            0            33
1  2018-12-03 00:02:27            2  ...            0            33
2  2018-12-03 00:03:47            2  ...            0            33
3  2018-12-03 00:05:08            2  ...            0            33
4  2018-12-03 00:06:27            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-04 00:00:04            2  ...            0            33
1  2018-12-04 00:01:22            2  ...            0            33
2  2018-12-04 00:02:42            2  ...            0            33
3  2018-12-04 00:04:03            2  ...            0            33
4  2018-12-04 00:05:22            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-05 00:01:12            2  ...            0            34
1  2018-12-05 00:02:31            2  ...            0            34
2  2018-12-05 00:03:52            2  ...            0            34
3  2018-12-05 00:05:11            2  ...            0            34
4  2018-12-05 00:06:31            2  ...            0            34

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-06 00:00:08            2  ...            0            34
1  2018-12-06 00:02:47            2  ...            0            34
2  2018-12-06 00:04:08            2  ...            0            34
3  2018-12-06 00:05:27            2  ...            0            34
4  2018-12-06 00:06:47            2  ...            0            34

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-07 00:00:50            2  ...            0            33
1  2018-12-07 00:02:09            2  ...            0            33
2  2018-12-07 00:03:29            2  ...            0            33
3  2018-12-07 00:04:48            2  ...            0            33
4  2018-12-07 00:06:10            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-08 00:00:51            2  ...            0            33
1  2018-12-08 00:02:13            2  ...            0            33
2  2018-12-08 00:03:31            2  ...            0            33
3  2018-12-08 00:04:52            2  ...            0            33
4  2018-12-08 00:06:12            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-09 00:01:15            2  ...            0            33
1  2018-12-09 00:02:35            2  ...            0            33
2  2018-12-09 00:04:46            2  ...            0            33
3  2018-12-09 00:06:08            2  ...            0            33
4  2018-12-09 00:07:27            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-10 00:00:18            2  ...            0            33
1  2018-12-10 00:01:37            2  ...            0            33
2  2018-12-10 00:02:57            2  ...            0            33
3  2018-12-10 00:04:17            2  ...            0            33
4  2018-12-10 00:05:36            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-11 00:01:27            2  ...            0            33
1  2018-12-11 00:02:48            2  ...            0            33
2  2018-12-11 00:04:08            2  ...            0            33
3  2018-12-11 00:05:27            2  ...            0            33
4  2018-12-11 00:06:47            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-12 00:01:28            2  ...            0            34
1  2018-12-12 00:02:48            2  ...            0            34
2  2018-12-12 00:04:09            2  ...            0            34
3  2018-12-12 00:05:28            2  ...            0            34
4  2018-12-12 00:06:48            2  ...            0            34

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-13 00:02:18            2  ...            0            33
1  2018-12-13 00:03:37            2  ...            0            33
2  2018-12-13 00:04:58            2  ...            0            33
3  2018-12-13 00:06:17            2  ...            0            33
4  2018-12-13 00:07:38            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-14 00:02:07            2  ...            0            32
1  2018-12-14 00:03:26            2  ...            0            32
2  2018-12-14 00:04:46            2  ...            0            32
3  2018-12-14 00:06:07            2  ...            0            32
4  2018-12-14 00:07:25            2  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-15 00:00:27            2  ...            0            32
1  2018-12-15 00:01:46            2  ...            0            32
2  2018-12-15 00:03:07            2  ...            0            32
3  2018-12-15 00:04:26            2  ...            0            32
4  2018-12-15 00:05:46            2  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-16 00:01:52            2  ...            0            32
1  2018-12-16 00:03:11            2  ...            0            32
2  2018-12-16 00:04:32            2  ...            0            32
3  2018-12-16 00:05:52            2  ...            0            32
4  2018-12-16 00:07:11            2  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-17 07:39:52            2  ...            0            23
1  2018-12-17 07:41:11            2  ...            0            24
2  2018-12-17 07:42:31            2  ...            0            24
3  2018-12-17 07:43:51            2  ...            0            24
4  2018-12-17 07:45:11            2  ...            0            25

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-18 00:00:32            2  ...            0            31
1  2018-12-18 00:01:52            2  ...            0            31
2  2018-12-18 00:03:12            2  ...            0            31
3  2018-12-18 00:04:31            2  ...            0            31
4  2018-12-18 00:05:52            2  ...            0            31

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-19 00:00:14            2  ...            0            32
1  2018-12-19 00:01:33            2  ...            0            32
2  2018-12-19 00:02:52            2  ...            0            32
3  2018-12-19 00:04:13            2  ...            0            32
4  2018-12-19 00:05:32            2  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-20 00:00:19            2  ...            0            32
1  2018-12-20 00:01:38            2  ...            0            32
2  2018-12-20 00:02:58            2  ...            0            32
3  2018-12-20 00:04:18            2  ...            0            32
4  2018-12-20 00:05:38            2  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-21 00:01:08            2  ...            0            33
1  2018-12-21 00:02:26            2  ...            0            33
2  2018-12-21 00:03:46            2  ...            0            33
3  2018-12-21 00:05:08            2  ...            0            33
4  2018-12-21 00:06:26            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-22 00:00:09            2  ...            0            33
1  2018-12-22 00:01:27            2  ...            0            33
2  2018-12-22 00:02:47            2  ...            0            33
3  2018-12-22 00:04:08            2  ...            0            33
4  2018-12-22 00:05:27            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-23 00:00:53            2  ...            0            33
1  2018-12-23 00:02:14            2  ...            0            33
2  2018-12-23 00:03:33            2  ...            0            33
3  2018-12-23 00:04:54            2  ...            0            33
4  2018-12-23 00:06:14            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-24 00:01:51            2  ...            0            34
1  2018-12-24 00:03:12            2  ...            0            34
2  2018-12-24 00:04:30            2  ...            0            34
3  2018-12-24 00:05:50            2  ...            0            34
4  2018-12-24 00:07:10            2  ...            0            34

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-25 00:02:24            2  ...            0            33
1  2018-12-25 00:03:44            2  ...            0            33
2  2018-12-25 00:05:06            2  ...            0            33
3  2018-12-25 00:06:23            2  ...            0            33
4  2018-12-25 00:07:44            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-26 00:00:08            2  ...            0            33
1  2018-12-26 00:01:26            2  ...            0            33
2  2018-12-26 00:02:46            2  ...            0            33
3  2018-12-26 00:04:07            2  ...            0            33
4  2018-12-26 00:05:25            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-27 00:01:48            2  ...            0            32
1  2018-12-27 00:03:09            2  ...            0            32
2  2018-12-27 00:04:28            2  ...            0            32
3  2018-12-27 00:05:47            2  ...            0            32
4  2018-12-27 00:07:09            2  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-28 00:00:26            2  ...            0            31
1  2018-12-28 00:01:46            2  ...            0            31
2  2018-12-28 00:03:58            2  ...            0            31
3  2018-12-28 00:05:18            2  ...            0            31
4  2018-12-28 00:06:37            2  ...            0            31

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-29 00:02:19            2  ...            0            32
1  2018-12-29 00:03:39            2  ...            0            32
2  2018-12-29 00:04:59            2  ...            0            32
3  2018-12-29 00:06:19            2  ...            0            32
4  2018-12-29 00:07:40            2  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-30 00:01:14            2  ...            0            32
1  2018-12-30 00:03:27            2  ...            0            32
2  2018-12-30 00:04:46            2  ...            0            32
3  2018-12-30 00:06:08            2  ...            0            32
4  2018-12-30 00:07:27            2  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-31 00:01:57            2  ...            0            33
1  2018-12-31 00:03:18            2  ...            0            33
2  2018-12-31 00:04:38            2  ...            0            33
3  2018-12-31 00:06:50            2  ...            0            33
4  2018-12-31 00:08:11            2  ...            0            33

[5 rows x 54 columns]

In [ ]:
### changing the Time stamp column of ineverter_2 2018-12

def Inverter2_Timestamp18():
  path = "/content/drive/MyDrive/Solar_internship/[IN-023C]/2018/2018-12/Inverter_2"
  os.chdir(path)
  for file in os.listdir():
    if file.endswith(".txt"):
      file_path = f"{path}/{file}"
      file_conv_name = file_path.split("/")[-1]
      Inverter2_data18 = pd.read_csv(file_path,"\t")
      for i in range(len(Inverter_original)):
        Inverter2_data18.rename(columns={Inverter_original[i]: Inverter_rename[i]},inplace=True)
      Inverter2_data18 = Inverter2_data18[['Tstamp', 'Inverter_Id', 'Fb_Id', 'DTT', 'Device_Time', 'SES', 'Salve_Id',
                                           'Function_Code', 'AC_Voltage_Line1', 'AC_Voltage_Line2',
                                           'AC_Voltage_Line3', 'AC_Current_Line1', 'AC_Current_Line2',
                                          'AC_Current_Line3', 'AC_Power', 'AC_Power_Percentage', 'AC_Frequency',
                                          'Power_Factor', 'Reactive_Power', 'DC_Current', 'DC_Power',
                                          'Inverter_Temprature', 'Time_Of_Use_Today', 'Time_Of_Use_Life',
                                          'Energy_Produced', 'KWH_Counter', 'MWH_Counter', 'GWH_Counter',
                                          'DC_Voltage', 'Inverter_Status', 'Energy_Generated_Today', 'Id',
                                          'Total_Energy_Generated_Till', 'Inverter_Communication_Status',
                                          'AC_Power_2', 'AC_Power_3', 'AC_Frequency_2', 'AC_Frequency_3',
                                          'DC_Voltage_2', 'DC_Power_2', 'DC_Current_2', 'Plant_Id',
                                          'Inv_Status_Word', 'Grid_Conn_Status', 'AC_Current_Totoal',
                                          'AC_Volatge_RY', 'AC_Volatge_YB', 'AC_Volatge_BR', 'Apparent_Power',
                                          'Event_Flag_1', 'Event_Flag_2', 'Event_Flag_3', 'Event_Flag_4',
                                          'Coolent_Temp']]
      print(Inverter2_data18.head())
      Inverter2_data18.to_csv(file_conv_name,sep="\t",index=False)

Inverter2_Timestamp18()

                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-01 00:01:19            8  ...            0            34
1  2018-12-01 00:02:39            8  ...            0            34
2  2018-12-01 00:03:58            8  ...            0            34
3  2018-12-01 00:06:11            8  ...            0            34
4  2018-12-01 00:07:29            8  ...            0            34

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-02 00:00:23            8  ...            0            35
1  2018-12-02 00:01:43            8  ...            0            35
2  2018-12-02 00:03:04            8  ...            0            35
3  2018-12-02 00:04:21            8  ...            0            35
4  2018-12-02 00:06:33            8  ...            0            35

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-03 00:02:23            8  ...            0            33
1  2018-12-03 00:03:43            8  ...            0            33
2  2018-12-03 00:05:04            8  ...            0            33
3  2018-12-03 00:06:22            8  ...            0            33
4  2018-12-03 00:07:42            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-04 00:02:37            8  ...            0            33
1  2018-12-04 00:03:57            8  ...            0            33
2  2018-12-04 00:05:17            8  ...            0            33
3  2018-12-04 00:06:38            8  ...            0            33
4  2018-12-04 00:07:57            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-05 00:01:08            8  ...            0            34
1  2018-12-05 00:02:27            8  ...            0            34
2  2018-12-05 00:03:47            8  ...            0            34
3  2018-12-05 00:05:08            8  ...            0            34
4  2018-12-05 00:06:26            8  ...            0            34

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-06 00:00:04            8  ...            0            34
1  2018-12-06 00:01:23            8  ...            0            34
2  2018-12-06 00:02:42            8  ...            0            34
3  2018-12-06 00:04:03            8  ...            0            34
4  2018-12-06 00:05:23            8  ...            0            34

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-07 00:02:06            8  ...            0            33
1  2018-12-07 00:03:24            8  ...            0            33
2  2018-12-07 00:04:44            8  ...            0            33
3  2018-12-07 00:06:05            8  ...            0            33
4  2018-12-07 00:07:23            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-08 00:00:48            8  ...            0            34
1  2018-12-08 00:02:09            8  ...            0            34
2  2018-12-08 00:03:27            8  ...            0            34
3  2018-12-08 00:04:47            8  ...            0            34
4  2018-12-08 00:06:08            8  ...            0            34

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-09 00:02:30            8  ...            0            33
1  2018-12-09 00:04:42            8  ...            0            33
2  2018-12-09 00:06:02            8  ...            0            33
3  2018-12-09 00:07:22            8  ...            0            33
4  2018-12-09 00:08:42            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-10 00:00:16            8  ...            0            33
1  2018-12-10 00:01:33            8  ...            0            33
2  2018-12-10 00:02:52            8  ...            0            33
3  2018-12-10 00:04:13            8  ...            0            33
4  2018-12-10 00:05:32            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-11 00:01:23            8  ...            0            33
1  2018-12-11 00:02:43            8  ...            0            33
2  2018-12-11 00:04:04            8  ...            0            33
3  2018-12-11 00:05:23            8  ...            0            33
4  2018-12-11 00:06:43            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-12 00:00:05            8  ...            0            33
1  2018-12-12 00:01:24            8  ...            0            33
2  2018-12-12 00:02:44            8  ...            0            33
3  2018-12-12 00:04:04            8  ...            0            33
4  2018-12-12 00:05:24            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-13 00:00:53            8  ...            0            33
1  2018-12-13 00:02:13            8  ...            0            33
2  2018-12-13 00:03:34            8  ...            0            33
3  2018-12-13 00:04:54            8  ...            0            33
4  2018-12-13 00:06:13            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-14 00:00:42            8  ...            0            32
1  2018-12-14 00:02:03            8  ...            0            32
2  2018-12-14 00:03:21            8  ...            0            32
3  2018-12-14 00:04:41            8  ...            0            32
4  2018-12-14 00:06:01            8  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-15 00:00:22            8  ...            0            32
1  2018-12-15 00:01:41            8  ...            0            32
2  2018-12-15 00:03:01            8  ...            0            32
3  2018-12-15 00:04:21            8  ...            0            32
4  2018-12-15 00:05:41            8  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-16 00:00:27            8  ...            0            31
1  2018-12-16 00:01:48            8  ...            0            31
2  2018-12-16 00:03:09            8  ...            0            31
3  2018-12-16 00:04:27            8  ...            0            31
4  2018-12-16 00:05:46            8  ...            0            31

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-17 07:41:07            8  ...            0            23
1  2018-12-17 07:42:26            8  ...            0            23
2  2018-12-17 07:43:47            8  ...            0            23
3  2018-12-17 07:45:08            8  ...            0            24
4  2018-12-17 07:46:26            8  ...            0            24

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-18 00:00:28            8  ...            0            31
1  2018-12-18 00:01:47            8  ...            0            31
2  2018-12-18 00:03:08            8  ...            0            31
3  2018-12-18 00:04:27            8  ...            0            31
4  2018-12-18 00:05:47            8  ...            0            31

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-19 00:00:09            8  ...            0            32
1  2018-12-19 00:01:28            8  ...            0            32
2  2018-12-19 00:02:47            8  ...            0            32
3  2018-12-19 00:04:09            8  ...            0            32
4  2018-12-19 00:05:28            8  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-20 00:00:15            8  ...            0            32
1  2018-12-20 00:01:33            8  ...            0            32
2  2018-12-20 00:02:54            8  ...            0            32
3  2018-12-20 00:04:14            8  ...            0            32
4  2018-12-20 00:05:33            8  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-21 00:01:01            8  ...            0            33
1  2018-12-21 00:02:22            8  ...            0            33
2  2018-12-21 00:03:42            8  ...            0            33
3  2018-12-21 00:05:02            8  ...            0            33
4  2018-12-21 00:06:21            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-22 00:00:03            8  ...            0            33
1  2018-12-22 00:01:23            8  ...            0            33
2  2018-12-22 00:02:43            8  ...            0            33
3  2018-12-22 00:04:05            8  ...            0            33
4  2018-12-22 00:05:23            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-23 00:02:10            8  ...            0            33
1  2018-12-23 00:03:28            8  ...            0            33
2  2018-12-23 00:04:49            8  ...            0            33
3  2018-12-23 00:06:10            8  ...            0            33
4  2018-12-23 00:07:28            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-24 00:00:27            8  ...            0            34
1  2018-12-24 00:01:46            8  ...            0            34
2  2018-12-24 00:03:07            8  ...            0            34
3  2018-12-24 00:04:26            8  ...            0            34
4  2018-12-24 00:05:46            8  ...            0            34

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-25 00:00:59            8  ...            0            34
1  2018-12-25 00:02:19            8  ...            0            34
2  2018-12-25 00:03:39            8  ...            0            34
3  2018-12-25 00:05:00            8  ...            0            34
4  2018-12-25 00:06:19            8  ...            0            34

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-26 00:00:01            8  ...            0            33
1  2018-12-26 00:01:21            8  ...            0            33
2  2018-12-26 00:02:42            8  ...            0            33
3  2018-12-26 00:04:02            8  ...            0            33
4  2018-12-26 00:05:21            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-27 00:01:43            8  ...            0            31
1  2018-12-27 00:03:05            8  ...            0            31
2  2018-12-27 00:04:23            8  ...            0            31
3  2018-12-27 00:05:42            8  ...            0            31
4  2018-12-27 00:07:05            8  ...            0            31

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-28 00:00:21            8  ...            0            31
1  2018-12-28 00:01:42            8  ...            0            31
2  2018-12-28 00:03:54            8  ...            0            31
3  2018-12-28 00:05:14            8  ...            0            31
4  2018-12-28 00:06:33            8  ...            0            31

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-29 00:00:54            8  ...            0            32
1  2018-12-29 00:02:15            8  ...            0            32
2  2018-12-29 00:03:35            8  ...            0            32
3  2018-12-29 00:04:55            8  ...            0            32
4  2018-12-29 00:06:14            8  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-30 00:01:11            8  ...            0            32
1  2018-12-30 00:03:22            8  ...            0            32
2  2018-12-30 00:04:42            8  ...            0            32
3  2018-12-30 00:06:04            8  ...            0            32
4  2018-12-30 00:07:23            8  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2018-12-31 00:00:33            8  ...            0            33
1  2018-12-31 00:01:52            8  ...            0            33
2  2018-12-31 00:03:13            8  ...            0            33
3  2018-12-31 00:04:33            8  ...            0            33
4  2018-12-31 00:06:45            8  ...            0            33

[5 rows x 54 columns]

**Reading MFM 2018 data**

In [ ]:
MFM_read = pd.read_csv("/content/drive/MyDrive/Solar_internship/[IN-023C]/2018/2018-12/MFM/[IN-023C]-MFM1-2018-12-01.txt","\t")

In [ ]:
MFM_read.columns # displaying the columns of the MFM data

Index(['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11',
       'm12', 'm13', 'm14', 'm15', 'm16', 'm17', 'm18', 'm19', 'm20', 'm21',
       'm22', 'm23', 'm24', 'm25', 'm26', 'm27', 'm28', 'm29', 'm30', 'm31',
       'm32', 'm33', 'm34', 'm35', 'm36', 'm37', 'm38', 'm39', 'm40', 'm41',
       'm42', 'm43', 'm44', 'm45', 'm46', 'm47', 'm48', 'm49', 'm50', 'm51',
       'm52', 'm53', 'm54', 'm55', 'm56', 'm57', 'm58', 'm59', 'm60', 'm61',
       'm62', 'm63', 'm64', 'm65', 'm66', 'm67'],
      dtype='object')

**Reading MFM 2018 data from sample Gen1 folder**

In [ ]:
MFM_sample = pd.read_csv("/content/drive/MyDrive/Solar_internship/Gen1/[IN-023C]/2018/2018-12/MFM/[IN-023C]-MFM1-2018-12-01.txt","\t")

In [ ]:
MFM_sample.columns #displaying the columns of the sample Gen-1 folder

Index(['Tstamp', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'Voltage_R_Phase',
       'Voltage_Y_Phase', 'Voltage_B_Phase', 'Average_Voltage', 'Voltage_R_Y',
       'Voltage_Y_B', 'Voltage_B_R', 'Line_To_Line_Voltage_Average',
       'Current_R', 'Current_Y', 'Current_B', 'Current_N', 'Average_Current',
       'Frequency_R', 'Frequency_Y', 'Frequency_B', 'Average_Frequency',
       'Power_Factor_R', 'Power_Factor_Y', 'Power_Factor_B',
       'Average_Power_Factor', 'Active_Power_R', 'Active_Power_Y',
       'Active_Power_B', 'Total_Power', 'Reactive_Power_R', 'Reactive_Power_Y',
       'Reactive_Power_B', 'Total_Reactive_Power', 'Total_Apparent_Power',
       'Active_Energy', 'Reactive_Energy', 'Apparent_Power_R',
       'Apparent_Power_Y', 'Apparent_Power_B', 'Reactive_Energy2',
       'Maximum_Active_Power', 'Minimum_Active_Power',
       'Maximum_Reactive_Power', 'Minimum_Reactive_Power',
       'Maximum_Apparent_Power', 'Wh_Received', 'VAh_Received',
       'VARh_Inductive_Received', 'VARh_Capacitive_Received', 'Energy_Export1',
       'VAh_Delivered', 'VARh_Ind_Delivered', 'VARh_Cap_Delivered', 'THD',
       'Active_Total_Import', 'Active_Total_Export', 'Apparent_Import',
       'Aparent_Export', 'Energy_Today', 'm1', 'Energy_Import',
       'Energy_Export', 'm66', 'Total_KW_Avg'],
      dtype='object')

**MFM original column list**

In [ ]:
MFM_original = ['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11',
              'm12', 'm13', 'm14', 'm15', 'm16', 'm17', 'm18', 'm19', 'm20', 'm21',
              'm22', 'm23', 'm24', 'm25', 'm26', 'm27', 'm28', 'm29', 'm30', 'm31',
              'm32', 'm33', 'm34', 'm35', 'm36', 'm37', 'm38', 'm39', 'm40', 'm41',
              'm42', 'm43', 'm44', 'm45', 'm46', 'm47', 'm48', 'm49', 'm50', 'm51',
              'm52', 'm53', 'm54', 'm55', 'm56', 'm57', 'm58', 'm59', 'm60', 'm61',
              'm62', 'm63', 'm64', 'm65', 'm66', 'm67']

**The column list that original data should be renamed**

In [ ]:
MFM_rename = ['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'Voltage_R_Phase',
              'Voltage_Y_Phase', 'Voltage_B_Phase', 'Average_Voltage', 'Voltage_R_Y',
              'Voltage_Y_B', 'Voltage_B_R', 'Line_To_Line_Voltage_Average',
              'Current_R', 'Current_Y', 'Current_B', 'Current_N', 'Average_Current',
              'Frequency_R', 'Frequency_Y', 'Frequency_B', 'Average_Frequency',
              'Power_Factor_R', 'Power_Factor_Y', 'Power_Factor_B',
              'Average_Power_Factor', 'Active_Power_R', 'Active_Power_Y',
              'Active_Power_B', 'Total_Power', 'Reactive_Power_R', 'Reactive_Power_Y',
              'Reactive_Power_B', 'Total_Reactive_Power', 'Total_Apparent_Power',
              'Active_Energy', 'Reactive_Energy', 'Apparent_Power_R',
              'Apparent_Power_Y', 'Apparent_Power_B', 'Reactive_Energy2',
              'Maximum_Active_Power', 'Minimum_Active_Power',
              'Maximum_Reactive_Power', 'Minimum_Reactive_Power',
              'Maximum_Apparent_Power', 'Wh_Received', 'VAh_Received',
              'VARh_Inductive_Received', 'VARh_Capacitive_Received', 'Energy_Export1',
              'VAh_Delivered', 'VARh_Ind_Delivered', 'VARh_Cap_Delivered', 'THD',
              'Active_Total_Import', 'Active_Total_Export', 'Apparent_Import',
              'Aparent_Export', 'Energy_Today', 'Tstamp', 'Energy_Import',
              'Energy_Export', 'm66', 'Total_KW_Avg']

In [ ]:
### changing the Time stamp column of MFM 2018-12 folder

def MFM_Timestamp18():
  path = "/content/drive/MyDrive/Solar_internship/[IN-023C]/2018/2018-12/MFM"
  os.chdir(path)
  for file in os.listdir():
    if file.endswith(".txt"):
      file_path = f"{path}/{file}"
      file_conv_name = file_path.split("/")[-1]
      MFM_data18 = pd.read_csv(file_path,"\t")
      for i in range(len(MFM_original)):
        MFM_data18.rename(columns={MFM_original[i]: MFM_rename[i]},inplace=True)
      MFM_data18 = MFM_data18[['Tstamp', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'Voltage_R_Phase',
                               'Voltage_Y_Phase', 'Voltage_B_Phase', 'Average_Voltage', 'Voltage_R_Y',
                               'Voltage_Y_B', 'Voltage_B_R', 'Line_To_Line_Voltage_Average',
                               'Current_R', 'Current_Y', 'Current_B', 'Current_N', 'Average_Current',
                               'Frequency_R', 'Frequency_Y', 'Frequency_B', 'Average_Frequency',
                               'Power_Factor_R', 'Power_Factor_Y', 'Power_Factor_B',
                               'Average_Power_Factor', 'Active_Power_R', 'Active_Power_Y',
                               'Active_Power_B', 'Total_Power', 'Reactive_Power_R', 'Reactive_Power_Y',
                               'Reactive_Power_B', 'Total_Reactive_Power', 'Total_Apparent_Power',
                               'Active_Energy', 'Reactive_Energy', 'Apparent_Power_R',
                               'Apparent_Power_Y', 'Apparent_Power_B', 'Reactive_Energy2',
                               'Maximum_Active_Power', 'Minimum_Active_Power',
                               'Maximum_Reactive_Power', 'Minimum_Reactive_Power',
                               'Maximum_Apparent_Power', 'Wh_Received', 'VAh_Received',
                               'VARh_Inductive_Received', 'VARh_Capacitive_Received', 'Energy_Export1',
                               'VAh_Delivered', 'VARh_Ind_Delivered', 'VARh_Cap_Delivered', 'THD',
                               'Active_Total_Import', 'Active_Total_Export', 'Apparent_Import',
                               'Aparent_Export', 'Energy_Today', 'm1', 'Energy_Import',
                               'Energy_Export', 'm66', 'Total_KW_Avg']]
      print(MFM_data18.head())
      MFM_data18.to_csv(file_conv_name,sep="\t",index=False)   

MFM_Timestamp18()

                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-01 00:00:38  CT08  ...   4           NaN
1  2018-12-01 00:01:57  CT08  ...   4           NaN
2  2018-12-01 00:03:17  CT08  ...   4           NaN
3  2018-12-01 00:04:37  CT08  ...   4           NaN
4  2018-12-01 00:06:49  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-02 00:01:02  CT08  ...   4           NaN
1  2018-12-02 00:02:21  CT08  ...   4           NaN
2  2018-12-02 00:03:41  CT08  ...   4           NaN
3  2018-12-02 00:05:00  CT08  ...   4           NaN
4  2018-12-02 00:07:12  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-03 00:00:22  CT08  ...   4           NaN
1  2018-12-03 00:01:42  CT08  ...   4           NaN
2  2018-12-03 00:03:01  CT08  ...   4           NaN
3  2018-12-03 00:04:21  CT08  ...   4           NaN
4  2018-12-03 00:05:41  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-04 00:00:37  CT08  ...   4           NaN
1  2018-12-04 00:01:56  CT08  ...   4           NaN
2  2018-12-04 00:03:16  CT08  ...   4           NaN
3  2018-12-04 00:04:36  CT08  ...   4           NaN
4  2018-12-04 00:05:56  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-05 00:00:26  CT08  ...   4           NaN
1  2018-12-05 00:01:46  CT08  ...   4           NaN
2  2018-12-05 00:03:07  CT08  ...   4           NaN
3  2018-12-05 00:04:26  CT08  ...   4           NaN
4  2018-12-05 00:05:45  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-06 00:00:42  CT08  ...   4           NaN
1  2018-12-06 00:02:02  CT08  ...   4           NaN
2  2018-12-06 00:03:22  CT08  ...   4           NaN
3  2018-12-06 00:04:41  CT08  ...   4           NaN
4  2018-12-06 00:06:01  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-07 00:00:05  CT08  ...   4           NaN
1  2018-12-07 00:01:23  CT08  ...   4           NaN
2  2018-12-07 00:02:43  CT08  ...   4           NaN
3  2018-12-07 00:04:04  CT08  ...   4           NaN
4  2018-12-07 00:05:23  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-08 00:00:08  CT08  ...   4           NaN
1  2018-12-08 00:01:26  CT08  ...   4           NaN
2  2018-12-08 00:02:46  CT08  ...   4           NaN
3  2018-12-08 00:04:07  CT08  ...   4           NaN
4  2018-12-08 00:05:26  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-09 00:00:29  CT08  ...   4           NaN
1  2018-12-09 00:01:48  CT08  ...   4           NaN
2  2018-12-09 00:03:10  CT08  ...   4           NaN
3  2018-12-09 00:05:21  CT08  ...   4           NaN
4  2018-12-09 00:06:41  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-10 00:00:52  CT08  ...   4           NaN
1  2018-12-10 00:02:12  CT08  ...   4           NaN
2  2018-12-10 00:03:31  CT08  ...   4           NaN
3  2018-12-10 00:04:51  CT08  ...   4           NaN
4  2018-12-10 00:06:11  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-11 00:00:42  CT08  ...   4           NaN
1  2018-12-11 00:02:03  CT08  ...   4           NaN
2  2018-12-11 00:03:22  CT08  ...   4           NaN
3  2018-12-11 00:04:42  CT08  ...   4           NaN
4  2018-12-11 00:06:02  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-12 00:00:43  CT08  ...   4           NaN
1  2018-12-12 00:02:03  CT08  ...   4           NaN
2  2018-12-12 00:03:23  CT08  ...   4           NaN
3  2018-12-12 00:04:42  CT08  ...   4           NaN
4  2018-12-12 00:06:03  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-13 00:00:14  CT08  ...   4           NaN
1  2018-12-13 00:01:32  CT08  ...   4           NaN
2  2018-12-13 00:02:52  CT08  ...   4           NaN
3  2018-12-13 00:04:12  CT08  ...   4           NaN
4  2018-12-13 00:05:32  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-14 00:01:20  CT08  ...   4           NaN
1  2018-12-14 00:02:41  CT08  ...   4           NaN
2  2018-12-14 00:04:00  CT08  ...   4           NaN
3  2018-12-14 00:05:20  CT08  ...   4           NaN
4  2018-12-14 00:06:40  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-15 00:01:00  CT08  ...   4           NaN
1  2018-12-15 00:02:20  CT08  ...   4           NaN
2  2018-12-15 00:03:40  CT08  ...   4           NaN
3  2018-12-15 00:05:00  CT08  ...   4           NaN
4  2018-12-15 00:06:20  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-16 00:01:08  CT08  ...   4           NaN
1  2018-12-16 00:02:26  CT08  ...   4           NaN
2  2018-12-16 00:03:46  CT08  ...   4           NaN
3  2018-12-16 00:05:07  CT08  ...   4           NaN
4  2018-12-16 00:06:26  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-18 00:01:08  CT08  ...   4           NaN
1  2018-12-18 00:02:26  CT08  ...   4           NaN
2  2018-12-18 00:03:46  CT08  ...   4           NaN
3  2018-12-18 00:05:08  CT08  ...   4           NaN
4  2018-12-18 00:06:26  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-17 07:40:25  CT08  ...   4           NaN
1  2018-12-17 07:41:47  CT08  ...   4           NaN
2  2018-12-17 07:43:07  CT08  ...   4           NaN
3  2018-12-17 07:44:26  CT08  ...   4           NaN
4  2018-12-17 07:45:45  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-19 00:00:47  CT08  ...   4           NaN
1  2018-12-19 00:02:08  CT08  ...   4           NaN
2  2018-12-19 00:03:26  CT08  ...   4           NaN
3  2018-12-19 00:04:46  CT08  ...   4           NaN
4  2018-12-19 00:06:07  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-20 00:00:53  CT08  ...   4           NaN
1  2018-12-20 00:02:13  CT08  ...   4           NaN
2  2018-12-20 00:03:32  CT08  ...   4           NaN
3  2018-12-20 00:04:52  CT08  ...   4           NaN
4  2018-12-20 00:06:12  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-21 00:00:21  CT08  ...   4           NaN
1  2018-12-21 00:01:41  CT08  ...   4           NaN
2  2018-12-21 00:03:00  CT08  ...   4           NaN
3  2018-12-21 00:04:20  CT08  ...   4           NaN
4  2018-12-21 00:05:41  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-22 00:00:42  CT08  ...   4           NaN
1  2018-12-22 00:02:02  CT08  ...   4           NaN
2  2018-12-22 00:03:21  CT08  ...   4           NaN
3  2018-12-22 00:04:42  CT08  ...   4           NaN
4  2018-12-22 00:06:02  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-23 00:01:27  CT08  ...   4           NaN
1  2018-12-23 00:02:48  CT08  ...   4           NaN
2  2018-12-23 00:04:09  CT08  ...   4           NaN
3  2018-12-23 00:05:27  CT08  ...   4           NaN
4  2018-12-23 00:06:47  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-24 00:01:06  CT08  ...   4           NaN
1  2018-12-24 00:02:25  CT08  ...   4           NaN
2  2018-12-24 00:03:45  CT08  ...   4           NaN
3  2018-12-24 00:05:06  CT08  ...   4           NaN
4  2018-12-24 00:06:24  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-25 00:00:18  CT08  ...   4           NaN
1  2018-12-25 00:01:38  CT08  ...   4           NaN
2  2018-12-25 00:02:58  CT08  ...   4           NaN
3  2018-12-25 00:04:18  CT08  ...   4           NaN
4  2018-12-25 00:05:38  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-26 00:00:41  CT08  ...   4           NaN
1  2018-12-26 00:02:00  CT08  ...   4           NaN
2  2018-12-26 00:03:20  CT08  ...   4           NaN
3  2018-12-26 00:04:40  CT08  ...   4           NaN
4  2018-12-26 00:06:00  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-27 00:00:13  CT08  ...   4           NaN
1  2018-12-27 00:02:22  CT08  ...   4           NaN
2  2018-12-27 00:03:42  CT08  ...   4           NaN
3  2018-12-27 00:05:02  CT08  ...   4           NaN
4  2018-12-27 00:06:22  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-28 00:01:00  CT08  ...   4           NaN
1  2018-12-28 00:02:20  CT08  ...   4           NaN
2  2018-12-28 00:04:32  CT08  ...   4           NaN
3  2018-12-28 00:05:52  CT08  ...   4           NaN
4  2018-12-28 00:07:12  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-29 00:00:15  CT08  ...   4           NaN
1  2018-12-29 00:01:33  CT08  ...   4           NaN
2  2018-12-29 00:02:53  CT08  ...   4           NaN
3  2018-12-29 00:04:13  CT08  ...   4           NaN
4  2018-12-29 00:05:34  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-30 00:00:29  CT08  ...   4           NaN
1  2018-12-30 00:01:49  CT08  ...   4           NaN
2  2018-12-30 00:04:01  CT08  ...   4           NaN
3  2018-12-30 00:05:21  CT08  ...   4           NaN
4  2018-12-30 00:06:42  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2018-12-31 00:01:12  CT08  ...   4           NaN
1  2018-12-31 00:02:32  CT08  ...   4           NaN
2  2018-12-31 00:03:52  CT08  ...   4           NaN
3  2018-12-31 00:05:13  CT08  ...   4           NaN
4  2018-12-31 00:07:24  CT08  ...   4           NaN

[5 rows x 67 columns]

**WMS 2018 data from folder IN-023C**

In [ ]:
WMS_read= pd.read_csv("/content/drive/MyDrive/Solar_internship/[IN-023C]/2018/2018-12/WMS/[IN-023C]-WMS-2018-12-01.txt",sep="\t")

In [ ]:
WMS_read.columns # displaying the columns of WMS

Index(['w1', 'w2', 'w3', 'w4', 'w5', 'w6', 'w7', 'w8', 'w9', 'w10', 'w11',
       'w12', 'w13', 'w14', 'w15', 'w16', 'w17', 'w18', 'w19', 'w20', 'w21',
       'w22', 'w23', 'w24', 'w25', 'w26', 'w27', 'w28', 'w29', 'w30', 'w31',
       'w32', 'w33', 'w34', 'w35'],
      dtype='object')

**Reading 2018 data from sample folder**

In [ ]:
WMS_sample=pd.read_csv("/content/drive/MyDrive/Solar_internship/Gen1/[IN-023C]/2018/2018-12/Inverter_1/[IN-023C]-I1-2018-12-01.txt",sep="\t")

In [ ]:
WMS_sample.columns # displaying columns from WMS sample folder

Index(['Tstamp', 'Inverter_Id', 'Fb_Id', 'DTT', 'Device_Time', 'SES',
       'Salve_Id', 'Function_Code', 'AC_Voltage_Line1', 'AC_Voltage_Line2',
       'AC_Voltage_Line3', 'AC_Current_Line1', 'AC_Current_Line2',
       'AC_Current_Line3', 'AC_Power', 'AC_Power_Percentage', 'AC_Frequency',
       'Power_Factor', 'Reactive_Power', 'DC_Current', 'DC_Power',
       'Inverter_Temprature', 'Time_Of_Use_Today', 'Time_Of_Use_Life',
       'Energy_Produced', 'KWH_Counter', 'MWH_Counter', 'GWH_Counter',
       'DC_Voltage', 'Inverter_Status', 'Energy_Generated_Today', 'Id',
       'Total_Energy_Generated_Till', 'Inverter_Communication_Status',
       'AC_Power_2', 'AC_Power_3', 'AC_Frequency_2', 'AC_Frequency_3',
       'DC_Voltage_2', 'DC_Power_2', 'DC_Current_2', 'Plant_Id',
       'Inv_Status_Word', 'Grid_Conn_Status', 'AC_Current_Totoal',
       'AC_Volatge_RY', 'AC_Volatge_YB', 'AC_Volatge_BR', 'Apparent_Power',
       'Event_Flag_1', 'Event_Flag_2', 'Event_Flag_3', 'Event_Flag_4',
       'Coolent_Temp'],
      dtype='object')

**Original column list in WMS data**

In [ ]:
WMS_original = ['w1', 'w2', 'w3', 'w4', 'w5', 'w6', 'w7', 'w8', 'w9', 'w10', 'w11',
                'w12', 'w13', 'w14', 'w15', 'w16', 'w17', 'w18', 'w19', 'w20', 'w21',
                'w22', 'w23', 'w24', 'w25', 'w26', 'w27', 'w28', 'w29', 'w30', 'w31',
                'w32', 'w33', 'w34', 'w35']

**Column list that original columns should be replaced with these names**

In [ ]:
WMS_rename = ['w1', 'w2', 'w3', 'w4', 'w5', 'w6', 'w7', 'w8', 'Humidity_Min',
              'Module_Temp1', 'Wind_Direction', 'Wind_Speed', 'Ambient_Temp',
              'Module_Temp2_Actual', 'Humidity_Max', 'Humidity_Actual',
              'Ambient_Temp_Min', 'Ambient_Temp_Max', 'Ambient_Temp_Avg',
              'Global_Irradiation_Min', 'Irradiation_Tilt1_Actual',
              'Irradiation_Tilt2_Actual', 'Tstamp', 'Global_Irradiation_Max',
              'Global_Irradiation_Avg', 'Wind_Speed_Min', 'Wind_Speed_Max',
              'Humidity_Avg', 'Wind_Direction_Min', 'Wind_Direction_Max',
              'Wind_Speed_Avg', 'Global_Irradiation_Actual', 'w33', 'Rain',
              'Room_Temperature']

In [ ]:
### changing the Time stamp column of WMS 2018-12 folder

def WMS_Timestamp18():
  path = "/content/drive/MyDrive/Solar_internship/[IN-023C]/2018/2018-12/WMS"
  os.chdir(path)
  for file in os.listdir():
    if file.endswith(".txt"):
      file_path = f"{path}/{file}"
      file_conv_name = file_path.split("/")[-1]
      WMS_data18 = pd.read_csv(file_path,"\t")
      for i in range(len(WMS_original)):
        WMS_data18.rename(columns={WMS_original[i]: WMS_rename[i]},inplace=True)
      WMS_data18 = WMS_data18[['Tstamp', 'w2', 'w3', 'w4', 'w5', 'w6', 'w7', 'w8', 'Humidity_Min',
                            'Module_Temp1', 'Wind_Direction', 'Wind_Speed', 'Ambient_Temp',
                            'Module_Temp2_Actual', 'Humidity_Max', 'Humidity_Actual',
                            'Ambient_Temp_Min', 'Ambient_Temp_Max', 'Ambient_Temp_Avg',
                            'Global_Irradiation_Min', 'Irradiation_Tilt1_Actual',
                            'Irradiation_Tilt2_Actual', 'w1', 'Global_Irradiation_Max',
                            'Global_Irradiation_Avg', 'Wind_Speed_Min', 'Wind_Speed_Max',
                            'Humidity_Avg', 'Wind_Direction_Min', 'Wind_Direction_Max',
                            'Wind_Speed_Avg', 'Global_Irradiation_Actual', 'w33', 'Rain',
                            'Room_Temperature']]
      print(WMS_data18.head())
      WMS_data18.to_csv(file_conv_name,sep="\t",index=False)

WMS_Timestamp18()

                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-01 00:00:40   1  CT08  ...    4    0               NaN
1  2018-12-01 00:01:59   1  CT08  ...    4    0               NaN
2  2018-12-01 00:03:19   1  CT08  ...    4    0               NaN
3  2018-12-01 00:04:39   1  CT08  ...    4    0               NaN
4  2018-12-01 00:06:50   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-02 00:01:05   1  CT08  ...    4    0               NaN
1  2018-12-02 00:02:23   1  CT08  ...    4    0               NaN
2  2018-12-02 00:03:43   1  CT08  ...    4    0               NaN
3  2018-12-02 00:05:02   1  CT08  ...    4    0               NaN
4  2018-12-02 00:07:14   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-03 00:01:43   1  CT08  ...    4    0               NaN
1  2018-12-03 00:03:04   1  CT08  ...    4    0               NaN
2  2018-12-03 00:04:23   1  CT08  ...    4    0               NaN
3  2018-12-03 00:05:43   1  CT08  ...    4    0               NaN
4  2018-12-03 00:07:04   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-04 00:00:38   1  CT08  ...    4    0               NaN
1  2018-12-04 00:01:58   1  CT08  ...    4    0               NaN
2  2018-12-04 00:03:18   1  CT08  ...    4    0               NaN
3  2018-12-04 00:04:38   1  CT08  ...    4    0               NaN
4  2018-12-04 00:05:58   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-05 00:00:28   1  CT08  ...    4    0               NaN
1  2018-12-05 00:01:48   1  CT08  ...    4    0               NaN
2  2018-12-05 00:03:08   1  CT08  ...    4    0               NaN
3  2018-12-05 00:04:27   1  CT08  ...    4    0               NaN
4  2018-12-05 00:05:47   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-06 00:02:05   1  CT08  ...    4    0               NaN
1  2018-12-06 00:03:23   1  CT08  ...    4    0               NaN
2  2018-12-06 00:04:43   1  CT08  ...    4    0               NaN
3  2018-12-06 00:06:04   1  CT08  ...    4    0               NaN
4  2018-12-06 00:07:23   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-07 00:00:09   1  CT08  ...    4    0               NaN
1  2018-12-07 00:01:25   1  CT08  ...    4    0               NaN
2  2018-12-07 00:02:45   1  CT08  ...    4    0               NaN
3  2018-12-07 00:04:06   1  CT08  ...    4    0               NaN
4  2018-12-07 00:05:24   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-08 00:00:09   1  CT08  ...    4    0               NaN
1  2018-12-08 00:01:28   1  CT08  ...    4    0               NaN
2  2018-12-08 00:02:48   1  CT08  ...    4    0               NaN
3  2018-12-08 00:04:09   1  CT08  ...    4    0               NaN
4  2018-12-08 00:05:28   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-09 00:00:30   1  CT08  ...    4    0               NaN
1  2018-12-09 00:01:51   1  CT08  ...    4    0               NaN
2  2018-12-09 00:03:11   1  CT08  ...    4    0               NaN
3  2018-12-09 00:05:23   1  CT08  ...    4    0               NaN
4  2018-12-09 00:06:43   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-10 00:00:54   1  CT08  ...    4    0               NaN
1  2018-12-10 00:02:13   1  CT08  ...    4    0               NaN
2  2018-12-10 00:03:33   1  CT08  ...    4    0               NaN
3  2018-12-10 00:04:53   1  CT08  ...    4    0               NaN
4  2018-12-10 00:06:13   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-11 00:00:44   1  CT08  ...    4    0               NaN
1  2018-12-11 00:02:05   1  CT08  ...    4    0               NaN
2  2018-12-11 00:03:24   1  CT08  ...    4    0               NaN
3  2018-12-11 00:04:44   1  CT08  ...    4    0               NaN
4  2018-12-11 00:06:05   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-12 00:00:45   1  CT08  ...    4    0               NaN
1  2018-12-12 00:02:05   1  CT08  ...    4    0               NaN
2  2018-12-12 00:03:24   1  CT08  ...    4    0               NaN
3  2018-12-12 00:04:44   1  CT08  ...    4    0               NaN
4  2018-12-12 00:06:05   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-13 00:00:15   1  CT08  ...    4    0               NaN
1  2018-12-13 00:01:34   1  CT08  ...    4    0               NaN
2  2018-12-13 00:02:54   1  CT08  ...    4    0               NaN
3  2018-12-13 00:04:14   1  CT08  ...    4    0               NaN
4  2018-12-13 00:05:34   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-14 00:00:02   1  CT08  ...    4    0               NaN
1  2018-12-14 00:01:23   1  CT08  ...    4    0               NaN
2  2018-12-14 00:02:42   1  CT08  ...    4    0               NaN
3  2018-12-14 00:04:03   1  CT08  ...    4    0               NaN
4  2018-12-14 00:05:22   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-15 00:01:04   1  CT08  ...    4    0               NaN
1  2018-12-15 00:02:22   1  CT08  ...    4    0               NaN
2  2018-12-15 00:03:42   1  CT08  ...    4    0               NaN
3  2018-12-15 00:05:02   1  CT08  ...    4    0               NaN
4  2018-12-15 00:06:22   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-16 00:01:09   1  CT08  ...    4    0               NaN
1  2018-12-16 00:02:28   1  CT08  ...    4    0               NaN
2  2018-12-16 00:03:48   1  CT08  ...    4    0               NaN
3  2018-12-16 00:05:09   1  CT08  ...    4    0               NaN
4  2018-12-16 00:06:27   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-17 07:40:27   1  CT08  ...    4    0               NaN
1  2018-12-17 07:41:48   1  CT08  ...    4    0               NaN
2  2018-12-17 07:43:08   1  CT08  ...    4    0               NaN
3  2018-12-17 07:44:27   1  CT08  ...    4    0               NaN
4  2018-12-17 07:45:47   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-18 00:01:10   1  CT08  ...    4    0               NaN
1  2018-12-18 00:02:28   1  CT08  ...    4    0               NaN
2  2018-12-18 00:03:48   1  CT08  ...    4    0               NaN
3  2018-12-18 00:05:09   1  CT08  ...    4    0               NaN
4  2018-12-18 00:06:28   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-19 00:00:49   1  CT08  ...    4    0               NaN
1  2018-12-19 00:02:09   1  CT08  ...    4    0               NaN
2  2018-12-19 00:03:28   1  CT08  ...    4    0               NaN
3  2018-12-19 00:04:48   1  CT08  ...    4    0               NaN
4  2018-12-19 00:06:09   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-20 00:00:55   1  CT08  ...    4    0               NaN
1  2018-12-20 00:02:14   1  CT08  ...    4    0               NaN
2  2018-12-20 00:03:34   1  CT08  ...    4    0               NaN
3  2018-12-20 00:04:54   1  CT08  ...    4    0               NaN
4  2018-12-20 00:06:14   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-21 00:01:42   1  CT08  ...    4    0               NaN
1  2018-12-21 00:03:03   1  CT08  ...    4    0               NaN
2  2018-12-21 00:04:22   1  CT08  ...    4    0               NaN
3  2018-12-21 00:05:42   1  CT08  ...    4    0               NaN
4  2018-12-21 00:07:02   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-22 00:00:44   1  CT08  ...    4    0               NaN
1  2018-12-22 00:02:05   1  CT08  ...    4    0               NaN
2  2018-12-22 00:03:24   1  CT08  ...    4    0               NaN
3  2018-12-22 00:04:43   1  CT08  ...    4    0               NaN
4  2018-12-22 00:06:05   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-23 00:02:49   1  CT08  ...    4    0               NaN
1  2018-12-23 00:04:10   1  CT08  ...    4    0               NaN
2  2018-12-23 00:05:29   1  CT08  ...    4    0               NaN
3  2018-12-23 00:06:49   1  CT08  ...    4    0               NaN
4  2018-12-23 00:08:10   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-24 00:01:08   1  CT08  ...    4    0               NaN
1  2018-12-24 00:02:27   1  CT08  ...    4    0               NaN
2  2018-12-24 00:03:46   1  CT08  ...    4    0               NaN
3  2018-12-24 00:05:08   1  CT08  ...    4    0               NaN
4  2018-12-24 00:06:26   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-25 00:00:21   1  CT08  ...    4    0               NaN
1  2018-12-25 00:01:40   1  CT08  ...    4    0               NaN
2  2018-12-25 00:03:00   1  CT08  ...    4    0               NaN
3  2018-12-25 00:04:20   1  CT08  ...    4    0               NaN
4  2018-12-25 00:05:40   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-26 00:02:02   1  CT08  ...    4    0               NaN
1  2018-12-26 00:03:22   1  CT08  ...    4    0               NaN
2  2018-12-26 00:04:42   1  CT08  ...    4    0               NaN
3  2018-12-26 00:06:03   1  CT08  ...    4    0               NaN
4  2018-12-26 00:07:22   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-27 00:00:14   1  CT08  ...    4    0               NaN
1  2018-12-27 00:02:24   1  CT08  ...    4    0               NaN
2  2018-12-27 00:03:44   1  CT08  ...    4    0               NaN
3  2018-12-27 00:05:05   1  CT08  ...    4    0               NaN
4  2018-12-27 00:06:24   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-28 00:01:03   1  CT08  ...    4    0               NaN
1  2018-12-28 00:02:22   1  CT08  ...    4    0               NaN
2  2018-12-28 00:04:34   1  CT08  ...    4    0               NaN
3  2018-12-28 00:05:54   1  CT08  ...    4    0               NaN
4  2018-12-28 00:07:14   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-29 00:00:17   1  CT08  ...    4    0               NaN
1  2018-12-29 00:01:35   1  CT08  ...    4    0               NaN
2  2018-12-29 00:02:55   1  CT08  ...    4    0               NaN
3  2018-12-29 00:04:15   1  CT08  ...    4    0               NaN
4  2018-12-29 00:05:35   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-30 00:04:05   1  CT08  ...    4    0               NaN
1  2018-12-30 00:05:24   1  CT08  ...    4    0               NaN
2  2018-12-30 00:06:43   1  CT08  ...    4    0               NaN
3  2018-12-30 00:08:06   1  CT08  ...    4    0               NaN
4  2018-12-30 00:09:24   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2018-12-31 00:02:33   1  CT08  ...    4    0               NaN
1  2018-12-31 00:03:53   1  CT08  ...    4    0               NaN
2  2018-12-31 00:05:15   1  CT08  ...    4    0               NaN
3  2018-12-31 00:07:26   1  CT08  ...    4    0               NaN
4  2018-12-31 00:08:46   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]

**Converting Time stamp column for Inverter-1,Inverter-2,MFM,WMS text files for the year 2019**

In [ ]:
### changing the Time stamp column of ineverter_1 2019-01

def Inverter1_Timestamp19():
  path = "/content/drive/MyDrive/Solar_internship/[IN-023C]/2019/2019-01/Inverter_1"
  os.chdir(path)
  for file in os.listdir():
    if file.endswith(".txt"):
      file_path = f"{path}/{file}"
      file_conv_name = file_path.split("/")[-1]
      Inverter1_data19 = pd.read_csv(file_path,"\t")
      for i in range(len(Inverter_original)):
        Inverter1_data19.rename(columns={Inverter_original[i]: Inverter_rename[i]},inplace=True)
      Inverter1_data19 = Inverter1_data19[['Tstamp', 'Inverter_Id', 'Fb_Id', 'DTT', 'Device_Time', 'SES', 'Salve_Id',
                                          'Function_Code', 'AC_Voltage_Line1', 'AC_Voltage_Line2',
                                          'AC_Voltage_Line3', 'AC_Current_Line1', 'AC_Current_Line2',
                                          'AC_Current_Line3', 'AC_Power', 'AC_Power_Percentage', 'AC_Frequency',
                                          'Power_Factor', 'Reactive_Power', 'DC_Current', 'DC_Power',
                                          'Inverter_Temprature', 'Time_Of_Use_Today', 'Time_Of_Use_Life',
                                          'Energy_Produced', 'KWH_Counter', 'MWH_Counter', 'GWH_Counter',
                                          'DC_Voltage', 'Inverter_Status', 'Energy_Generated_Today', 'Id',
                                          'Total_Energy_Generated_Till', 'Inverter_Communication_Status',
                                          'AC_Power_2', 'AC_Power_3', 'AC_Frequency_2', 'AC_Frequency_3',
                                          'DC_Voltage_2', 'DC_Power_2', 'DC_Current_2', 'Plant_Id',
                                          'Inv_Status_Word', 'Grid_Conn_Status', 'AC_Current_Totoal',
                                          'AC_Volatge_RY', 'AC_Volatge_YB', 'AC_Volatge_BR', 'Apparent_Power',
                                          'Event_Flag_1', 'Event_Flag_2', 'Event_Flag_3', 'Event_Flag_4',
                                          'Coolent_Temp']]
      print(Inverter1_data19.head())
      Inverter1_data19.to_csv(file_conv_name,sep="\t",index=False)

Inverter1_Timestamp19()

                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-01 00:00:25            2  ...            0            33
1  2019-01-01 00:01:45            2  ...            0            33
2  2019-01-01 00:03:05            2  ...            0            33
3  2019-01-01 00:04:25            2  ...            0            33
4  2019-01-01 00:05:45            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-02 00:00:25            2  ...            0            33
1  2019-01-02 00:01:44            2  ...            0            33
2  2019-01-02 00:03:06            2  ...            0            33
3  2019-01-02 00:04:24            2  ...            0            33
4  2019-01-02 00:05:45            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-03 00:00:36            2  ...            0            33
1  2019-01-03 00:01:57            2  ...            0            33
2  2019-01-03 00:03:16            2  ...            0            33
3  2019-01-03 00:04:36            2  ...            0            33
4  2019-01-03 00:05:56            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-04 00:00:04            2  ...            0            33
1  2019-01-04 00:01:23            2  ...            0            33
2  2019-01-04 00:02:43            2  ...            0            33
3  2019-01-04 00:04:05            2  ...            0            33
4  2019-01-04 00:05:23            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-05 00:01:15            2  ...            0            35
1  2019-01-05 00:02:36            2  ...            0            35
2  2019-01-05 00:03:56            2  ...            0            35
3  2019-01-05 00:05:16            2  ...            0            35
4  2019-01-05 00:06:35            2  ...            0            35

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-06 00:01:57            2  ...            0            33
1  2019-01-06 00:03:17            2  ...            0            33
2  2019-01-06 00:04:37            2  ...            0            33
3  2019-01-06 00:05:56            2  ...            0            33
4  2019-01-06 00:07:17            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-07 00:00:04            2  ...            0            32
1  2019-01-07 00:01:21            2  ...            0            32
2  2019-01-07 00:02:41            2  ...            0            32
3  2019-01-07 00:04:02            2  ...            0            32
4  2019-01-07 00:05:21            2  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-08 00:00:11            2  ...            0            30
1  2019-01-08 00:01:30            2  ...            0            30
2  2019-01-08 00:02:49            2  ...            0            30
3  2019-01-08 00:04:11            2  ...            0            30
4  2019-01-08 00:05:29            2  ...            0            30

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-09 00:00:31            2  ...            0            32
1  2019-01-09 00:01:51            2  ...            0            32
2  2019-01-09 00:03:10            2  ...            0            32
3  2019-01-09 00:04:30            2  ...            0            32
4  2019-01-09 00:05:50            2  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-10 00:00:10            2  ...            0            31
1  2019-01-10 00:01:28            2  ...            0            31
2  2019-01-10 00:02:47            2  ...            0            31
3  2019-01-10 00:04:10            2  ...            0            31
4  2019-01-10 00:05:29            2  ...            0            31

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-11 00:01:03            2  ...            0            32
1  2019-01-11 00:02:16            2  ...            0            32
2  2019-01-11 00:03:37            2  ...            0            32
3  2019-01-11 00:04:58            2  ...            0            32
4  2019-01-11 00:06:17            2  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-12 00:02:30            2  ...            0            33
1  2019-01-12 00:03:52            2  ...            0            33
2  2019-01-12 00:05:10            2  ...            0            33
3  2019-01-12 00:06:33            2  ...            0            33
4  2019-01-12 00:07:55            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-13 00:01:03            2  ...            0            32
1  2019-01-13 00:02:22            2  ...            0            32
2  2019-01-13 00:03:45            2  ...            0            32
3  2019-01-13 00:05:04            2  ...            0            32
4  2019-01-13 00:07:16            2  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-14 00:00:37            2  ...            0            33
1  2019-01-14 00:01:53            2  ...            0            33
2  2019-01-14 00:03:15            2  ...            0            33
3  2019-01-14 00:04:35            2  ...            0            33
4  2019-01-14 00:05:57            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-15 00:00:13            2  ...            0            20
1  2019-01-15 00:01:31            2  ...            0            20
2  2019-01-15 00:02:50            2  ...            0            20
3  2019-01-15 00:04:12            2  ...            0            20
4  2019-01-15 00:05:31            2  ...            0            20

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-16 00:00:33            2  ...            0            33
1  2019-01-16 00:01:51            2  ...            0            33
2  2019-01-16 00:03:13            2  ...            0            33
3  2019-01-16 00:04:33            2  ...            0            33
4  2019-01-16 00:05:54            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-17 00:00:25            2  ...            0            34
1  2019-01-17 00:01:45            2  ...            0            34
2  2019-01-17 00:03:02            2  ...            0            34
3  2019-01-17 00:04:26            2  ...            0            34
4  2019-01-17 00:05:46            2  ...            0            34

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-18 00:00:08            2  ...            0            33
1  2019-01-18 00:01:26            2  ...            0            33
2  2019-01-18 00:02:46            2  ...            0            33
3  2019-01-18 00:04:07            2  ...            0            33
4  2019-01-18 00:05:27            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-19 10:39:19            2  ...            0            43
1  2019-01-19 10:40:42            2  ...            0            43
2  2019-01-19 10:42:02            2  ...            0            44
3  2019-01-19 10:43:21            2  ...            0            44
4  2019-01-19 10:44:42            2  ...            0            44

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-20 00:00:28            2  ...            0            34
1  2019-01-20 00:01:50            2  ...            0            34
2  2019-01-20 00:03:06            2  ...            0            34
3  2019-01-20 00:04:27            2  ...            0            34
4  2019-01-20 00:05:51            2  ...            0            34

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-21 00:00:39            2  ...            0            34
1  2019-01-21 00:02:00            2  ...            0            34
2  2019-01-21 00:03:18            2  ...            0            34
3  2019-01-21 00:04:39            2  ...            0            34
4  2019-01-21 00:06:00            2  ...            0            34

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-22 00:01:11            2  ...            0            33
1  2019-01-22 00:03:24            2  ...            0            33
2  2019-01-22 00:04:44            2  ...            0            33
3  2019-01-22 00:06:04            2  ...            0            33
4  2019-01-22 00:07:25            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-23 00:01:18            2  ...            0            32
1  2019-01-23 00:02:40            2  ...            0            32
2  2019-01-23 00:03:55            2  ...            0            32
3  2019-01-23 00:05:17            2  ...            0            32
4  2019-01-23 00:06:37            2  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-24 00:00:41            2  ...            0            33
1  2019-01-24 00:01:58            2  ...            0            33
2  2019-01-24 00:03:17            2  ...            0            33
3  2019-01-24 00:04:38            2  ...            0            33
4  2019-01-24 00:05:58            2  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-25 00:00:52            2  ...            0            32
1  2019-01-25 00:02:11            2  ...            0            32
2  2019-01-25 00:03:30            2  ...            0            32
3  2019-01-25 00:04:51            2  ...            0            32
4  2019-01-25 00:06:12            2  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-26 00:00:13            2  ...            0            32
1  2019-01-26 00:01:36            2  ...            0            32
2  2019-01-26 00:02:53            2  ...            0            32
3  2019-01-26 00:04:12            2  ...            0            32
4  2019-01-26 00:05:35            2  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-27 00:00:35            2  ...            0            30
1  2019-01-27 00:01:52            2  ...            0            30
2  2019-01-27 00:03:10            2  ...            0            30
3  2019-01-27 00:04:35            2  ...            0            30
4  2019-01-27 00:05:50            2  ...            0            30

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-28 11:06:48            2  ...            0            44
1  2019-01-28 11:08:11            2  ...            0            44
2  2019-01-28 11:09:28            2  ...            0            44
3  2019-01-28 11:10:49            2  ...            0            44
4  2019-01-28 11:12:11            2  ...            0            44

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-29 00:00:48            2  ...            0            31
1  2019-01-29 00:02:06            2  ...            0            31
2  2019-01-29 00:03:27            2  ...            0            31
3  2019-01-29 00:04:45            2  ...            0            31
4  2019-01-29 00:06:05            2  ...            0            31

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-30 00:01:10            2  ...            0            32
1  2019-01-30 00:02:30            2  ...            0            32
2  2019-01-30 00:03:49            2  ...            0            32
3  2019-01-30 00:05:11            2  ...            0            32
4  2019-01-30 00:06:30            2  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-31 00:01:13            2  ...            0            33
1  2019-01-31 00:02:33            2  ...            0            33
2  2019-01-31 00:03:51            2  ...            0            33
3  2019-01-31 00:05:14            2  ...            0            33
4  2019-01-31 00:06:32            2  ...            0            33

[5 rows x 54 columns]

In [ ]:
### changing the Time stamp column of ineverter_2 2019-01

def Inverter2_Timestamp19():
  path = "/content/drive/MyDrive/Solar_internship/[IN-023C]/2019/2019-01/Inverter_2"
  os.chdir(path)
  for file in os.listdir():
    if file.endswith(".txt"):
      file_path = f"{path}/{file}"
      file_conv_name = file_path.split("/")[-1]
      Inverter1_data19 = pd.read_csv(file_path,"\t")
      for i in range(len(Inverter_original)):
        Inverter1_data19.rename(columns={Inverter_original[i]: Inverter_rename[i]},inplace=True)
      Inverter1_data19 = Inverter1_data19[['Tstamp', 'Inverter_Id', 'Fb_Id', 'DTT', 'Device_Time', 'SES', 'Salve_Id',
                                          'Function_Code', 'AC_Voltage_Line1', 'AC_Voltage_Line2',
                                          'AC_Voltage_Line3', 'AC_Current_Line1', 'AC_Current_Line2',
                                          'AC_Current_Line3', 'AC_Power', 'AC_Power_Percentage', 'AC_Frequency',
                                          'Power_Factor', 'Reactive_Power', 'DC_Current', 'DC_Power',
                                          'Inverter_Temprature', 'Time_Of_Use_Today', 'Time_Of_Use_Life',
                                          'Energy_Produced', 'KWH_Counter', 'MWH_Counter', 'GWH_Counter',
                                          'DC_Voltage', 'Inverter_Status', 'Energy_Generated_Today', 'Id',
                                          'Total_Energy_Generated_Till', 'Inverter_Communication_Status',
                                          'AC_Power_2', 'AC_Power_3', 'AC_Frequency_2', 'AC_Frequency_3',
                                          'DC_Voltage_2', 'DC_Power_2', 'DC_Current_2', 'Plant_Id',
                                          'Inv_Status_Word', 'Grid_Conn_Status', 'AC_Current_Totoal',
                                          'AC_Volatge_RY', 'AC_Volatge_YB', 'AC_Volatge_BR', 'Apparent_Power',
                                          'Event_Flag_1', 'Event_Flag_2', 'Event_Flag_3', 'Event_Flag_4',
                                          'Coolent_Temp']]
      print(Inverter1_data19.head())
      Inverter1_data19.to_csv(file_conv_name,sep="\t",index=False)

Inverter2_Timestamp19()

                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-01 00:00:21            8  ...            0            33
1  2019-01-01 00:01:41            8  ...            0            33
2  2019-01-01 00:03:00            8  ...            0            33
3  2019-01-01 00:04:21            8  ...            0            33
4  2019-01-01 00:05:41            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-02 00:01:40            8  ...            0            33
1  2019-01-02 00:03:00            8  ...            0            33
2  2019-01-02 00:04:24            8  ...            0            33
3  2019-01-02 00:05:41            8  ...            0            33
4  2019-01-02 00:07:00            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-03 00:00:31            8  ...            0            33
1  2019-01-03 00:01:52            8  ...            0            33
2  2019-01-03 00:03:12            8  ...            0            33
3  2019-01-03 00:04:32            8  ...            0            33
4  2019-01-03 00:05:52            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-04 00:01:19            8  ...            0            33
1  2019-01-04 00:02:39            8  ...            0            33
2  2019-01-04 00:03:59            8  ...            0            33
3  2019-01-04 00:05:19            8  ...            0            33
4  2019-01-04 00:06:39            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-05 00:01:12            8  ...            0            35
1  2019-01-05 00:02:31            8  ...            0            35
2  2019-01-05 00:03:51            8  ...            0            35
3  2019-01-05 00:05:13            8  ...            0            35
4  2019-01-05 00:06:30            8  ...            0            35

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-06 00:00:32            8  ...            0            33
1  2019-01-06 00:01:52            8  ...            0            33
2  2019-01-06 00:03:13            8  ...            0            33
3  2019-01-06 00:04:32            8  ...            0            33
4  2019-01-06 00:05:52            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-07 00:01:17            8  ...            0            32
1  2019-01-07 00:02:37            8  ...            0            32
2  2019-01-07 00:03:57            8  ...            0            32
3  2019-01-07 00:05:17            8  ...            0            32
4  2019-01-07 00:06:36            8  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-08 00:00:07            8  ...            0            30
1  2019-01-08 00:01:25            8  ...            0            30
2  2019-01-08 00:02:45            8  ...            0            30
3  2019-01-08 00:04:06            8  ...            0            30
4  2019-01-08 00:05:24            8  ...            0            30

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-09 00:00:27            8  ...            0            32
1  2019-01-09 00:01:46            8  ...            0            32
2  2019-01-09 00:03:07            8  ...            0            32
3  2019-01-09 00:04:26            8  ...            0            32
4  2019-01-09 00:05:45            8  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-10 00:00:03            8  ...            0            31
1  2019-01-10 00:01:23            8  ...            0            31
2  2019-01-10 00:02:43            8  ...            0            31
3  2019-01-10 00:04:05            8  ...            0            31
4  2019-01-10 00:05:24            8  ...            0            31

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-11 00:00:56            8  ...            0            31
1  2019-01-11 00:02:11            8  ...            0            31
2  2019-01-11 00:03:30            8  ...            0            31
3  2019-01-11 00:04:54            8  ...            0            31
4  2019-01-11 00:06:12            8  ...            0            31

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-12 00:02:25            8  ...            0            33
1  2019-01-12 00:03:46            8  ...            0            33
2  2019-01-12 00:05:04            8  ...            0            33
3  2019-01-12 00:06:26            8  ...            0            33
4  2019-01-12 00:07:48            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-13 00:00:58            8  ...            0            32
1  2019-01-13 00:02:17            8  ...            0            32
2  2019-01-13 00:03:40            8  ...            0            32
3  2019-01-13 00:04:59            8  ...            0            32
4  2019-01-13 00:07:10            8  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-14 00:00:29            8  ...            0            32
1  2019-01-14 00:01:49            8  ...            0            32
2  2019-01-14 00:03:09            8  ...            0            32
3  2019-01-14 00:04:30            8  ...            0            32
4  2019-01-14 00:05:51            8  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-15 00:00:09            8  ...            0            20
1  2019-01-15 00:01:25            8  ...            0            20
2  2019-01-15 00:02:45            8  ...            0            20
3  2019-01-15 00:04:07            8  ...            0            20
4  2019-01-15 00:05:26            8  ...            0            20

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-16 00:00:27            8  ...            0            33
1  2019-01-16 00:01:47            8  ...            0            33
2  2019-01-16 00:03:09            8  ...            0            33
3  2019-01-16 00:04:29            8  ...            0            33
4  2019-01-16 00:05:50            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-17 00:00:19            8  ...            0            33
1  2019-01-17 00:01:37            8  ...            0            33
2  2019-01-17 00:02:57            8  ...            0            33
3  2019-01-17 00:04:18            8  ...            0            33
4  2019-01-17 00:05:38            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-18 00:00:02            8  ...            0            33
1  2019-01-18 00:01:21            8  ...            0            33
2  2019-01-18 00:02:41            8  ...            0            33
3  2019-01-18 00:04:01            8  ...            0            33
4  2019-01-18 00:05:22            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-19 10:39:15            8  ...            0            43
1  2019-01-19 10:40:36            8  ...            0            43
2  2019-01-19 10:41:56            8  ...            0            43
3  2019-01-19 10:43:16            8  ...            0            44
4  2019-01-19 10:44:36            8  ...            0            44

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-20 00:00:21            8  ...            0            34
1  2019-01-20 00:01:44            8  ...            0            34
2  2019-01-20 00:03:01            8  ...            0            34
3  2019-01-20 00:04:20            8  ...            0            34
4  2019-01-20 00:05:44            8  ...            0            34

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-21 00:00:35            8  ...            0            34
1  2019-01-21 00:01:54            8  ...            0            34
2  2019-01-21 00:03:13            8  ...            0            34
3  2019-01-21 00:04:34            8  ...            0            34
4  2019-01-21 00:05:55            8  ...            0            34

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-22 00:01:06            8  ...            0            33
1  2019-01-22 00:03:19            8  ...            0            33
2  2019-01-22 00:04:39            8  ...            0            33
3  2019-01-22 00:05:59            8  ...            0            33
4  2019-01-22 00:07:20            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-23 00:01:12            8  ...            0            32
1  2019-01-23 00:02:34            8  ...            0            32
2  2019-01-23 00:03:51            8  ...            0            32
3  2019-01-23 00:05:12            8  ...            0            32
4  2019-01-23 00:06:32            8  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-24 00:00:35            8  ...            0            33
1  2019-01-24 00:01:54            8  ...            0            33
2  2019-01-24 00:03:13            8  ...            0            33
3  2019-01-24 00:04:34            8  ...            0            33
4  2019-01-24 00:05:53            8  ...            0            33

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-25 00:02:06            8  ...            0            32
1  2019-01-25 00:03:26            8  ...            0            32
2  2019-01-25 00:04:46            8  ...            0            32
3  2019-01-25 00:06:07            8  ...            0            32
4  2019-01-25 00:07:27            8  ...            0            32

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-26 00:00:09            8  ...            0            31
1  2019-01-26 00:01:30            8  ...            0            31
2  2019-01-26 00:02:49            8  ...            0            31
3  2019-01-26 00:04:08            8  ...            0            31
4  2019-01-26 00:05:31            8  ...            0            31

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-27 00:00:29            8  ...            0            29
1  2019-01-27 00:01:47            8  ...            0            29
2  2019-01-27 00:03:07            8  ...            0            29
3  2019-01-27 00:04:29            8  ...            0            29
4  2019-01-27 00:05:47            8  ...            0            29

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-28 06:31:58            8  ...            0            30
1  2019-01-28 06:33:18            8  ...            0            30
2  2019-01-28 06:34:39            8  ...            0            30
3  2019-01-28 06:35:59            8  ...            0            30
4  2019-01-28 06:40:47            8  ...            0            30

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-29 00:00:44            8  ...            0            30
1  2019-01-29 00:02:02            8  ...            0            30
2  2019-01-29 00:03:21            8  ...            0            30
3  2019-01-29 00:04:41            8  ...            0            30
4  2019-01-29 00:05:59            8  ...            0            30

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-30 00:01:05            8  ...            0            31
1  2019-01-30 00:02:26            8  ...            0            31
2  2019-01-30 00:03:44            8  ...            0            31
3  2019-01-30 00:05:03            8  ...            0            31
4  2019-01-30 00:06:25            8  ...            0            31

[5 rows x 54 columns]
                Tstamp  Inverter_Id  ... Event_Flag_4  Coolent_Temp
0  2019-01-31 00:01:06            8  ...            0            33
1  2019-01-31 00:02:28            8  ...            0            33
2  2019-01-31 00:03:46            8  ...            0            33
3  2019-01-31 00:05:08            8  ...            0            33
4  2019-01-31 00:06:27            8  ...            0            33

[5 rows x 54 columns]

In [ ]:
### changing the Time stamp column of MFM 2019-01 folder

def MFM_Timestamp19():
  path = "/content/drive/MyDrive/Solar_internship/[IN-023C]/2019/2019-01/MFM"
  os.chdir(path)
  for file in os.listdir():
    if file.endswith(".txt"):
      file_path = f"{path}/{file}"
      file_conv_name = file_path.split("/")[-1]
      MFM_data19 = pd.read_csv(file_path,"\t")
      for i in range(len(MFM_original)):
        MFM_data19.rename(columns={MFM_original[i]: MFM_rename[i]},inplace=True)
      MFM_data19 = MFM_data19[['Tstamp', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'Voltage_R_Phase',
                               'Voltage_Y_Phase', 'Voltage_B_Phase', 'Average_Voltage', 'Voltage_R_Y',
                               'Voltage_Y_B', 'Voltage_B_R', 'Line_To_Line_Voltage_Average',
                               'Current_R', 'Current_Y', 'Current_B', 'Current_N', 'Average_Current',
                               'Frequency_R', 'Frequency_Y', 'Frequency_B', 'Average_Frequency',
                               'Power_Factor_R', 'Power_Factor_Y', 'Power_Factor_B',
                               'Average_Power_Factor', 'Active_Power_R', 'Active_Power_Y',
                               'Active_Power_B', 'Total_Power', 'Reactive_Power_R', 'Reactive_Power_Y',
                               'Reactive_Power_B', 'Total_Reactive_Power', 'Total_Apparent_Power',
                               'Active_Energy', 'Reactive_Energy', 'Apparent_Power_R',
                               'Apparent_Power_Y', 'Apparent_Power_B', 'Reactive_Energy2',
                               'Maximum_Active_Power', 'Minimum_Active_Power',
                               'Maximum_Reactive_Power', 'Minimum_Reactive_Power',
                               'Maximum_Apparent_Power', 'Wh_Received', 'VAh_Received',
                               'VARh_Inductive_Received', 'VARh_Capacitive_Received', 'Energy_Export1',
                               'VAh_Delivered', 'VARh_Ind_Delivered', 'VARh_Cap_Delivered', 'THD',
                               'Active_Total_Import', 'Active_Total_Export', 'Apparent_Import',
                               'Aparent_Export', 'Energy_Today', 'm1', 'Energy_Import',
                               'Energy_Export', 'm66', 'Total_KW_Avg']]
      print(MFM_data19.head())
      MFM_data19.to_csv(file_conv_name,sep="\t",index=False)     

MFM_Timestamp19()

                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-01 00:00:59  CT08  ...   4           NaN
1  2019-01-01 00:02:19  CT08  ...   4           NaN
2  2019-01-01 00:03:39  CT08  ...   4           NaN
3  2019-01-01 00:04:59  CT08  ...   4           NaN
4  2019-01-01 00:06:19  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-02 00:00:59  CT08  ...   4           NaN
1  2019-01-02 00:02:19  CT08  ...   4           NaN
2  2019-01-02 00:03:39  CT08  ...   4           NaN
3  2019-01-02 00:04:59  CT08  ...   4           NaN
4  2019-01-02 00:06:19  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-03 00:01:11  CT08  ...   4           NaN
1  2019-01-03 00:02:31  CT08  ...   4           NaN
2  2019-01-03 00:03:50  CT08  ...   4           NaN
3  2019-01-03 00:05:12  CT08  ...   4           NaN
4  2019-01-03 00:06:30  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-04 00:00:37  CT08  ...   4           NaN
1  2019-01-04 00:01:58  CT08  ...   4           NaN
2  2019-01-04 00:03:18  CT08  ...   4           NaN
3  2019-01-04 00:04:38  CT08  ...   4           NaN
4  2019-01-04 00:05:58  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-05 00:01:50  CT08  ...   4           NaN
1  2019-01-05 00:03:11  CT08  ...   4           NaN
2  2019-01-05 00:04:30  CT08  ...   4           NaN
3  2019-01-05 00:05:50  CT08  ...   4           NaN
4  2019-01-05 00:07:11  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-06 00:01:12  CT08  ...   4           NaN
1  2019-01-06 00:02:31  CT08  ...   4           NaN
2  2019-01-06 00:03:51  CT08  ...   4           NaN
3  2019-01-06 00:05:12  CT08  ...   4           NaN
4  2019-01-06 00:06:31  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-07 00:00:36  CT08  ...   4           NaN
1  2019-01-07 00:01:56  CT08  ...   4           NaN
2  2019-01-07 00:03:16  CT08  ...   4           NaN
3  2019-01-07 00:04:36  CT08  ...   4           NaN
4  2019-01-07 00:05:56  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-08 00:00:44  CT08  ...   4           NaN
1  2019-01-08 00:02:05  CT08  ...   4           NaN
2  2019-01-08 00:03:24  CT08  ...   4           NaN
3  2019-01-08 00:04:43  CT08  ...   4           NaN
4  2019-01-08 00:06:05  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-09 00:01:06  CT08  ...   4           NaN
1  2019-01-09 00:02:25  CT08  ...   4           NaN
2  2019-01-09 00:03:45  CT08  ...   4           NaN
3  2019-01-09 00:05:06  CT08  ...   4           NaN
4  2019-01-09 00:06:24  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-10 00:00:42  CT08  ...   4           NaN
1  2019-01-10 00:02:03  CT08  ...   4           NaN
2  2019-01-10 00:03:22  CT08  ...   4           NaN
3  2019-01-10 00:04:42  CT08  ...   4           NaN
4  2019-01-10 00:06:04  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-11 00:00:26  CT08  ...   4           NaN
1  2019-01-11 00:01:51  CT08  ...   4           NaN
2  2019-01-11 00:03:05  CT08  ...   4           NaN
3  2019-01-11 00:04:20  CT08  ...   4           NaN
4  2019-01-11 00:07:03  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-12 00:03:13  CT08  ...   4           NaN
1  2019-01-12 00:04:30  CT08  ...   4           NaN
2  2019-01-12 00:05:52  CT08  ...   4           NaN
3  2019-01-12 00:07:16  CT08  ...   4           NaN
4  2019-01-12 00:08:35  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-13 00:00:33  CT08  ...   4           NaN
1  2019-01-13 00:01:51  CT08  ...   4           NaN
2  2019-01-13 00:04:25  CT08  ...   4           NaN
3  2019-01-13 00:05:52  CT08  ...   4           NaN
4  2019-01-13 00:07:56  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-14 00:01:17  CT08  ...   4           NaN
1  2019-01-14 00:02:30  CT08  ...   4           NaN
2  2019-01-14 00:04:00  CT08  ...   4           NaN
3  2019-01-14 00:05:20  CT08  ...   4           NaN
4  2019-01-14 00:06:40  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-15 00:00:51  CT08  ...   4           NaN
1  2019-01-15 00:02:06  CT08  ...   4           NaN
2  2019-01-15 00:03:25  CT08  ...   4           NaN
3  2019-01-15 00:04:48  CT08  ...   4           NaN
4  2019-01-15 00:06:09  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-16 00:01:07  CT08  ...   4           NaN
1  2019-01-16 00:02:27  CT08  ...   4           NaN
2  2019-01-16 00:03:51  CT08  ...   4           NaN
3  2019-01-16 00:05:08  CT08  ...   4           NaN
4  2019-01-16 00:06:28  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-17 00:03:43  CT08  ...   4           NaN
1  2019-01-17 00:05:02  CT08  ...   4           NaN
2  2019-01-17 00:07:45  CT08  ...   4           NaN
3  2019-01-17 00:09:05  CT08  ...   4           NaN
4  2019-01-17 00:10:24  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-18 00:02:08  CT08  ...   4           NaN
1  2019-01-18 00:03:23  CT08  ...   4           NaN
2  2019-01-18 00:04:45  CT08  ...   4           NaN
3  2019-01-18 00:06:09  CT08  ...   4           NaN
4  2019-01-18 00:07:25  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-20 00:01:09  CT08  ...   4           NaN
1  2019-01-20 00:02:26  CT08  ...   4           NaN
2  2019-01-20 00:03:47  CT08  ...   4           NaN
3  2019-01-20 00:05:07  CT08  ...   4           NaN
4  2019-01-20 00:06:24  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-19 00:00:36  CT08  ...   4           NaN
1  2019-01-19 00:04:52  CT08  ...   4           NaN
2  2019-01-19 00:09:12  CT08  ...   4           NaN
3  2019-01-19 00:13:32  CT08  ...   4           NaN
4  2019-01-19 00:17:51  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-21 00:00:02  CT08  ...   4           NaN
1  2019-01-21 00:01:18  CT08  ...   4           NaN
2  2019-01-21 00:02:39  CT08  ...   4           NaN
3  2019-01-21 00:03:56  CT08  ...   4           NaN
4  2019-01-21 00:05:14  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-22 00:01:48  CT08  ...   4           NaN
1  2019-01-22 00:04:03  CT08  ...   4           NaN
2  2019-01-22 00:05:18  CT08  ...   4           NaN
3  2019-01-22 00:06:41  CT08  ...   4           NaN
4  2019-01-22 00:08:05  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-23 00:02:06  CT08  ...   4           NaN
1  2019-01-23 00:03:19  CT08  ...   4           NaN
2  2019-01-23 00:04:34  CT08  ...   4           NaN
3  2019-01-23 00:05:55  CT08  ...   4           NaN
4  2019-01-23 00:07:16  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-24 00:01:13  CT08  ...   4           NaN
1  2019-01-24 00:02:35  CT08  ...   4           NaN
2  2019-01-24 00:03:52  CT08  ...   4           NaN
3  2019-01-24 00:05:13  CT08  ...   4           NaN
4  2019-01-24 00:06:35  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-25 00:01:27  CT08  ...   4           NaN
1  2019-01-25 00:02:48  CT08  ...   4           NaN
2  2019-01-25 00:04:06  CT08  ...   4           NaN
3  2019-01-25 00:05:24  CT08  ...   4           NaN
4  2019-01-25 00:06:51  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-26 00:00:53  CT08  ...   4           NaN
1  2019-01-26 00:02:10  CT08  ...   4           NaN
2  2019-01-26 00:03:30  CT08  ...   4           NaN
3  2019-01-26 00:04:48  CT08  ...   4           NaN
4  2019-01-26 00:06:09  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-27 00:01:09  CT08  ...   4           NaN
1  2019-01-27 00:02:27  CT08  ...   4           NaN
2  2019-01-27 00:03:47  CT08  ...   4           NaN
3  2019-01-27 00:05:05  CT08  ...   4           NaN
4  2019-01-27 00:06:28  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-28 09:16:49  CT08  ...   4           NaN
1  2019-01-28 10:14:23  CT08  ...   4           NaN
2  2019-01-28 10:15:43  CT08  ...   4           NaN
3  2019-01-28 11:07:22  CT08  ...   4           NaN
4  2019-01-28 11:08:43  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-29 00:00:02  CT08  ...   4           NaN
1  2019-01-29 00:01:23  CT08  ...   4           NaN
2  2019-01-29 00:02:42  CT08  ...   4           NaN
3  2019-01-29 00:03:59  CT08  ...   4           NaN
4  2019-01-29 00:05:21  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-30 00:00:24  CT08  ...   4           NaN
1  2019-01-30 00:01:44  CT08  ...   4           NaN
2  2019-01-30 00:03:03  CT08  ...   4           NaN
3  2019-01-30 00:04:24  CT08  ...   4           NaN
4  2019-01-30 00:05:43  CT08  ...   4           NaN

[5 rows x 67 columns]
                Tstamp    m2  ... m66  Total_KW_Avg
0  2019-01-31 00:00:41  CT08  ...   4           NaN
1  2019-01-31 00:01:52  CT08  ...   4           NaN
2  2019-01-31 00:03:09  CT08  ...   4           NaN
3  2019-01-31 00:04:30  CT08  ...   4           NaN
4  2019-01-31 00:05:52  CT08  ...   4           NaN

[5 rows x 67 columns]

In [ ]:
### changing the Time stamp column of WMS 2019-01 folder

def WMS_Timestamp19():
  path = "/content/drive/MyDrive/Solar_internship/[IN-023C]/2019/2019-01/WMS"
  os.chdir(path)
  for file in os.listdir():
    if file.endswith(".txt"):
      file_path = f"{path}/{file}"
      file_conv_name = file_path.split("/")[-1]
      WMS_data19 = pd.read_csv(file_path,"\t")
      for i in range(len(WMS_original)):
        WMS_data19.rename(columns={WMS_original[i]: WMS_rename[i]},inplace=True)
      WMS_data19 = WMS_data19[['Tstamp', 'w2', 'w3', 'w4', 'w5', 'w6', 'w7', 'w8', 'Humidity_Min',
                            'Module_Temp1', 'Wind_Direction', 'Wind_Speed', 'Ambient_Temp',
                            'Module_Temp2_Actual', 'Humidity_Max', 'Humidity_Actual',
                            'Ambient_Temp_Min', 'Ambient_Temp_Max', 'Ambient_Temp_Avg',
                            'Global_Irradiation_Min', 'Irradiation_Tilt1_Actual',
                            'Irradiation_Tilt2_Actual', 'w1', 'Global_Irradiation_Max',
                            'Global_Irradiation_Avg', 'Wind_Speed_Min', 'Wind_Speed_Max',
                            'Humidity_Avg', 'Wind_Direction_Min', 'Wind_Direction_Max',
                            'Wind_Speed_Avg', 'Global_Irradiation_Actual', 'w33', 'Rain',
                            'Room_Temperature']]
      print(WMS_data19.head())
      WMS_data19.to_csv(file_conv_name,sep="\t",index=False)

WMS_Timestamp19()

                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-01 00:01:01   1  CT08  ...    4    0               NaN
1  2019-01-01 00:02:21   1  CT08  ...    4    0               NaN
2  2019-01-01 00:03:41   1  CT08  ...    4    0               NaN
3  2019-01-01 00:05:01   1  CT08  ...    4    0               NaN
4  2019-01-01 00:06:21   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-02 00:01:01   1  CT08  ...    4    0               NaN
1  2019-01-02 00:02:21   1  CT08  ...    4    0               NaN
2  2019-01-02 00:03:41   1  CT08  ...    4    0               NaN
3  2019-01-02 00:05:01   1  CT08  ...    4    0               NaN
4  2019-01-02 00:06:21   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-03 00:01:13   1  CT08  ...    4    0               NaN
1  2019-01-03 00:02:32   1  CT08  ...    4    0               NaN
2  2019-01-03 00:03:52   1  CT08  ...    4    0               NaN
3  2019-01-03 00:05:13   1  CT08  ...    4    0               NaN
4  2019-01-03 00:06:33   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-04 00:01:59   1  CT08  ...    4    0               NaN
1  2019-01-04 00:03:19   1  CT08  ...    4    0               NaN
2  2019-01-04 00:04:40   1  CT08  ...    4    0               NaN
3  2019-01-04 00:06:00   1  CT08  ...    4    0               NaN
4  2019-01-04 00:07:20   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-05 00:01:52   1  CT08  ...    4    0               NaN
1  2019-01-05 00:03:13   1  CT08  ...    4    0               NaN
2  2019-01-05 00:04:32   1  CT08  ...    4    0               NaN
3  2019-01-05 00:05:51   1  CT08  ...    4    0               NaN
4  2019-01-05 00:07:12   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-06 00:01:14   1  CT08  ...    4    0               NaN
1  2019-01-06 00:02:33   1  CT08  ...    4    0               NaN
2  2019-01-06 00:03:53   1  CT08  ...    4    0               NaN
3  2019-01-06 00:05:14   1  CT08  ...    4    0               NaN
4  2019-01-06 00:06:33   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-07 00:00:38   1  CT08  ...    4    0               NaN
1  2019-01-07 00:01:57   1  CT08  ...    4    0               NaN
2  2019-01-07 00:03:18   1  CT08  ...    4    0               NaN
3  2019-01-07 00:04:37   1  CT08  ...    4    0               NaN
4  2019-01-07 00:05:57   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-08 00:00:46   1  CT08  ...    4    0               NaN
1  2019-01-08 00:02:08   1  CT08  ...    4    0               NaN
2  2019-01-08 00:03:25   1  CT08  ...    4    0               NaN
3  2019-01-08 00:04:45   1  CT08  ...    4    0               NaN
4  2019-01-08 00:06:07   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-09 00:01:08   1  CT08  ...    4    0               NaN
1  2019-01-09 00:02:26   1  CT08  ...    4    0               NaN
2  2019-01-09 00:03:46   1  CT08  ...    4    0               NaN
3  2019-01-09 00:05:08   1  CT08  ...    4    0               NaN
4  2019-01-09 00:06:26   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-10 00:00:44   1  CT08  ...    4    0               NaN
1  2019-01-10 00:02:06   1  CT08  ...    4    0               NaN
2  2019-01-10 00:03:24   1  CT08  ...    4    0               NaN
3  2019-01-10 00:04:44   1  CT08  ...    4    0               NaN
4  2019-01-10 00:06:07   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-11 00:05:41   1  CT08  ...    4    0               NaN
1  2019-01-11 00:09:45   1  CT08  ...    4    0               NaN
2  2019-01-11 00:11:03   1  CT08  ...    4    0               NaN
3  2019-01-11 00:12:26   1  CT08  ...    4    0               NaN
4  2019-01-11 00:13:48   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-12 00:04:33   1  CT08  ...    4    0               NaN
1  2019-01-12 00:15:19   1  CT08  ...    4    0               NaN
2  2019-01-12 00:39:19   1  CT08  ...    4    0               NaN
3  2019-01-12 00:58:54   1  CT08  ...    4    0               NaN
4  2019-01-12 01:04:04   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-13 00:25:22   1  CT08  ...    4    0               NaN
1  2019-01-13 01:33:53   1  CT08  ...    4    0               NaN
2  2019-01-13 01:49:53   1  CT08  ...    4    0               NaN
3  2019-01-13 02:01:52   1  CT08  ...    4    0               NaN
4  2019-01-13 02:04:42   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-14 00:24:54   1  CT08  ...    4    0               NaN
1  2019-01-14 00:26:13   1  CT08  ...    4    0               NaN
2  2019-01-14 00:27:30   1  CT08  ...    4    0               NaN
3  2019-01-14 00:28:55   1  CT08  ...    4    0               NaN
4  2019-01-14 00:30:11   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-15 01:23:57   1  CT08  ...    4    0               NaN
1  2019-01-15 01:25:17   1  CT08  ...    4    0               NaN
2  2019-01-15 01:27:57   1  CT08  ...    4    0               NaN
3  2019-01-15 01:29:16   1  CT08  ...    4    0               NaN
4  2019-01-15 01:30:39   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-16 00:03:52   1  CT08  ...    4    0               NaN
1  2019-01-16 00:05:10   1  CT08  ...    4    0               NaN
2  2019-01-16 00:06:31   1  CT08  ...    4    0               NaN
3  2019-01-16 00:07:51   1  CT08  ...    4    0               NaN
4  2019-01-16 00:09:09   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-18 00:03:26   1  CT08  ...    4    0               NaN
1  2019-01-18 00:06:12   1  CT08  ...    4    0               NaN
2  2019-01-18 00:11:32   1  CT08  ...    4    0               NaN
3  2019-01-18 00:13:38   1  CT08  ...    4    0               NaN
4  2019-01-18 00:14:59   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-17 00:01:07   1  CT08  ...    4    0               NaN
1  2019-01-17 00:02:27   1  CT08  ...    4    0               NaN
2  2019-01-17 00:03:46   1  CT08  ...    4    0               NaN
3  2019-01-17 00:10:26   1  CT08  ...    4    0               NaN
4  2019-01-17 00:11:47   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-19 00:13:34   1  CT08  ...    4    0               NaN
1  2019-01-19 00:17:52   1  CT08  ...    4    0               NaN
2  2019-01-19 00:22:11   1  CT08  ...    4    0               NaN
3  2019-01-19 00:26:33   1  CT08  ...    4    0               NaN
4  2019-01-19 00:30:52   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-20 00:01:11   1  CT08  ...    4    0               NaN
1  2019-01-20 00:10:38   1  CT08  ...    4    0               NaN
2  2019-01-20 00:11:50   1  CT08  ...    4    0               NaN
3  2019-01-20 00:13:15   1  CT08  ...    4    0               NaN
4  2019-01-20 00:14:32   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-21 00:01:20   1  CT08  ...    4    0               NaN
1  2019-01-21 00:02:42   1  CT08  ...    4    0               NaN
2  2019-01-21 00:05:16   1  CT08  ...    4    0               NaN
3  2019-01-21 00:51:37   1  CT08  ...    4    0               NaN
4  2019-01-21 00:53:05   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-22 00:00:37   1  CT08  ...    4    0               NaN
1  2019-01-22 00:01:51   1  CT08  ...    4    0               NaN
2  2019-01-22 00:04:05   1  CT08  ...    4    0               NaN
3  2019-01-22 00:05:19   1  CT08  ...    4    0               NaN
4  2019-01-22 00:06:41   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-23 05:32:51   1  CT08  ...    4    0               NaN
1  2019-01-23 05:34:15   1  CT08  ...    4    0               NaN
2  2019-01-23 05:35:27   1  CT08  ...    4    0               NaN
3  2019-01-23 05:36:53   1  CT08  ...    4    0               NaN
4  2019-01-23 05:38:18   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-24 00:00:01   1  CT08  ...    4    0               NaN
1  2019-01-24 00:01:15   1  CT08  ...    4    0               NaN
2  2019-01-24 00:02:37   1  CT08  ...    4    0               NaN
3  2019-01-24 00:03:54   1  CT08  ...    4    0               NaN
4  2019-01-24 00:05:15   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-25 00:01:29   1  CT08  ...    4    0               NaN
1  2019-01-25 00:02:50   1  CT08  ...    4    0               NaN
2  2019-01-25 00:04:08   1  CT08  ...    4    0               NaN
3  2019-01-25 00:05:26   1  CT08  ...    4    0               NaN
4  2019-01-25 00:06:53   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-26 00:00:55   1  CT08  ...    4    0               NaN
1  2019-01-26 00:02:12   1  CT08  ...    4    0               NaN
2  2019-01-26 00:04:49   1  CT08  ...    4    0               NaN
3  2019-01-26 00:06:12   1  CT08  ...    4    0               NaN
4  2019-01-26 00:07:34   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-27 00:01:11   1  CT08  ...    4    0               NaN
1  2019-01-27 00:02:29   1  CT08  ...    4    0               NaN
2  2019-01-27 00:03:48   1  CT08  ...    4    0               NaN
3  2019-01-27 00:05:08   1  CT08  ...    4    0               NaN
4  2019-01-27 00:06:30   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-28 08:25:59   1  CT08  ...    4    0               NaN
1  2019-01-28 08:53:35   1  CT08  ...    4    0               NaN
2  2019-01-28 08:54:55   1  CT08  ...    4    0               NaN
3  2019-01-28 08:56:18   1  CT08  ...    4    0               NaN
4  2019-01-28 08:57:37   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-29 00:00:04   1  CT08  ...    4    0               NaN
1  2019-01-29 00:01:24   1  CT08  ...    4    0               NaN
2  2019-01-29 00:02:44   1  CT08  ...    4    0               NaN
3  2019-01-29 00:04:01   1  CT08  ...    4    0               NaN
4  2019-01-29 00:05:23   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-30 00:00:27   1  CT08  ...    4    0               NaN
1  2019-01-30 00:01:47   1  CT08  ...    4    0               NaN
2  2019-01-30 00:03:05   1  CT08  ...    4    0               NaN
3  2019-01-30 00:04:25   1  CT08  ...    4    0               NaN
4  2019-01-30 00:05:44   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]
                Tstamp  w2    w3  ...  w33 Rain  Room_Temperature
0  2019-01-31 00:00:44   1  CT08  ...    4    0               NaN
1  2019-01-31 00:01:54   1  CT08  ...    4    0               NaN
2  2019-01-31 00:03:12   1  CT08  ...    4    0               NaN
3  2019-01-31 00:04:33   1  CT08  ...    4    0               NaN
4  2019-01-31 00:05:54   1  CT08  ...    4    0               NaN

[5 rows x 35 columns]